@charset "UTF-8";
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animated.infinite {
    animation-iteration-count: infinite;
}
.animated.hinge {
    animation-duration: 2s;
}
@keyframes bounce {
0%, 100%, 20%, 53%, 80% {
    transform: translate3d(0px, 0px, 0px);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
40%, 43% {
    transform: translate3d(0px, -30px, 0px);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
70% {
    transform: translate3d(0px, -15px, 0px);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
90% {
    transform: translate3d(0px, -4px, 0px);
}
}
.bounce {
    animation-name: bounce;
    transform-origin: center bottom 0;
}
@keyframes flash {
0%, 100%, 50% {
    opacity: 1;
}
25%, 75% {
    opacity: 0;
}
}
.flash {
    animation-name: flash;
}
@keyframes pulse {
0% {
    transform: scale3d(1, 1, 1);
}
50% {
    transform: scale3d(1.05, 1.05, 1.05);
}
100% {
    transform: scale3d(1, 1, 1);
}
}
.pulse {
    animation-name: pulse;
}

@keyframes rubberBand {
0% {
    transform: scale3d(1, 1, 1);
}
30% {
    transform: scale3d(1.25, 0.75, 1);
}
40% {
    transform: scale3d(0.75, 1.25, 1);
}
50% {
    transform: scale3d(1.15, 0.85, 1);
}
65% {
    transform: scale3d(0.95, 1.05, 1);
}
75% {
    transform: scale3d(1.05, 0.95, 1);
}
100% {
    transform: scale3d(1, 1, 1);
}
}
.rubberBand {
    animation-name: rubberBand;
}
@keyframes shake {
0%, 100% {
    transform: translate3d(0px, 0px, 0px);
}
10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0px, 0px);
}
20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0px, 0px);
}
}
.shake {
    animation-name: shake;
}
@keyframes swing {
20% {
    transform: rotate3d(0, 0, 1, 15deg);
}
40% {
    transform: rotate3d(0, 0, 1, -10deg);
}
60% {
    transform: rotate3d(0, 0, 1, 5deg);
}
80% {
    transform: rotate3d(0, 0, 1, -5deg);
}
100% {
    transform: rotate3d(0, 0, 1, 0deg);
}
}
.swing {
    animation-name: swing;
    transform-origin: center top 0;
}
@keyframes tada {
0% {
    transform: scale3d(1, 1, 1);
}
10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
}
30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
}
40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
}
100% {
    transform: scale3d(1, 1, 1);
}
}
.tada {
    animation-name: tada;
}
@keyframes wobble {
0% {
    transform: none;
}
15% {
    transform: translate3d(-25%, 0px, 0px) rotate3d(0, 0, 1, -5deg);
}
30% {
    transform: translate3d(20%, 0px, 0px) rotate3d(0, 0, 1, 3deg);
}
45% {
    transform: translate3d(-15%, 0px, 0px) rotate3d(0, 0, 1, -3deg);
}
60% {
    transform: translate3d(10%, 0px, 0px) rotate3d(0, 0, 1, 2deg);
}
75% {
    transform: translate3d(-5%, 0px, 0px) rotate3d(0, 0, 1, -1deg);
}
100% {
    transform: none;
}
}
.wobble {
    animation-name: wobble;
}
@keyframes bounceIn {
0%, 100%, 20%, 40%, 60%, 80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
}
20% {
    transform: scale3d(1.1, 1.1, 1.1);
}
40% {
    transform: scale3d(0.9, 0.9, 0.9);
}
60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
}
80% {
    transform: scale3d(0.97, 0.97, 0.97);
}
100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}
}
.bounceIn {
    animation-duration: 0.75s;
    animation-name: bounceIn;
}
@keyframes bounceInDown {
0%, 100%, 60%, 75%, 90% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
0% {
    opacity: 0;
    transform: translate3d(0px, -3000px, 0px);
}
60% {
    opacity: 1;
    transform: translate3d(0px, 25px, 0px);
}
75% {
    transform: translate3d(0px, -10px, 0px);
}
90% {
    transform: translate3d(0px, 5px, 0px);
}
100% {
    transform: none;
}
}
.bounceInDown {
    animation-name: bounceInDown;
}
@keyframes bounceInLeft {
0%, 100%, 60%, 75%, 90% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
0% {
    opacity: 0;
    transform: translate3d(-3000px, 0px, 0px);
}
60% {
    opacity: 1;
    transform: translate3d(25px, 0px, 0px);
}
75% {
    transform: translate3d(-10px, 0px, 0px);
}
90% {
    transform: translate3d(5px, 0px, 0px);
}
100% {
    transform: none;
}
}
.bounceInLeft {
    animation-name: bounceInLeft;
}
@keyframes bounceInRight {
0%, 100%, 60%, 75%, 90% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
0% {
    opacity: 0;
    transform: translate3d(3000px, 0px, 0px);
}
60% {
    opacity: 1;
    transform: translate3d(-25px, 0px, 0px);
}
75% {
    transform: translate3d(10px, 0px, 0px);
}
90% {
    transform: translate3d(-5px, 0px, 0px);
}
100% {
    transform: none;
}
}
.bounceInRight {
    animation-name: bounceInRight;
}
@keyframes bounceInUp {
0%, 100%, 60%, 75%, 90% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
0% {
    opacity: 0;
    transform: translate3d(0px, 3000px, 0px);
}
60% {
    opacity: 1;
    transform: translate3d(0px, -20px, 0px);
}
75% {
    transform: translate3d(0px, 10px, 0px);
}
90% {
    transform: translate3d(0px, -5px, 0px);
}
100% {
    transform: translate3d(0px, 0px, 0px);
}
}
.bounceInUp {
    animation-name: bounceInUp;
}
@keyframes bounceOut {
20% {
    transform: scale3d(0.9, 0.9, 0.9);
}
50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
}
100% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
}
}
.bounceOut {
    animation-duration: 0.75s;
    animation-name: bounceOut;
}
@keyframes bounceOutDown {
20% {
    transform: translate3d(0px, 10px, 0px);
}
40%, 45% {
    opacity: 1;
    transform: translate3d(0px, -20px, 0px);
}
100% {
    opacity: 0;
    transform: translate3d(0px, 2000px, 0px);
}
}
.bounceOutDown {
    animation-name: bounceOutDown;
}
@keyframes bounceOutLeft {
20% {
    opacity: 1;
    transform: translate3d(20px, 0px, 0px);
}
100% {
    opacity: 0;
    transform: translate3d(-2000px, 0px, 0px);
}
}
.bounceOutLeft {
    animation-name: bounceOutLeft;
}
@keyframes bounceOutRight {
20% {
    opacity: 1;
    transform: translate3d(-20px, 0px, 0px);
}
100% {
    opacity: 0;
    transform: translate3d(2000px, 0px, 0px);
}
}
.bounceOutRight {
    animation-name: bounceOutRight;
}
@keyframes bounceOutUp {
20% {
    transform: translate3d(0px, -10px, 0px);
}
40%, 45% {
    opacity: 1;
    transform: translate3d(0px, 20px, 0px);
}
100% {
    opacity: 0;
    transform: translate3d(0px, -2000px, 0px);
}
}
.bounceOutUp {
    animation-name: bounceOutUp;
}
@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
.fadeIn {
    animation-name: fadeIn;
}
@keyframes fadeInDown {
0% {
    opacity: 0;
    transform: translate3d(0px, -100%, 0px);
}
100% {
    opacity: 1;
    transform: none;
}
}
.fadeInDown {
    animation-name: fadeInDown;
}
@keyframes fadeInDownBig {
0% {
    opacity: 0;
    transform: translate3d(0px, -2000px, 0px);
}
100% {
    opacity: 1;
    transform: none;
}
}
.fadeInDownBig {
    animation-name: fadeInDownBig;
}
@keyframes fadeInLeft {
0% {
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px);
}
100% {
    opacity: 1;
    transform: none;
}
}
.fadeInLeft {
    animation-name: fadeInLeft;
}
@keyframes fadeInLeftBig {
0% {
    opacity: 0;
    transform: translate3d(-2000px, 0px, 0px);
}
100% {
    opacity: 1;
    transform: none;
}
}
.fadeInLeftBig {
    animation-name: fadeInLeftBig;
}
@keyframes fadeInRight {
0% {
    opacity: 0;
    transform: translate3d(100%, 0px, 0px);
}
100% {
    opacity: 1;
    transform: none;
}
}
.fadeInRight {
    animation-name: fadeInRight;
}
@keyframes fadeInRightBig {
0% {
    opacity: 0;
    transform: translate3d(2000px, 0px, 0px);
}
100% {
    opacity: 1;
    transform: none;
}
}
.fadeInRightBig {
    animation-name: fadeInRightBig;
}
@keyframes fadeInUp {
0% {
    opacity: 0;
    transform: translate3d(0px, 100%, 0px);
}
100% {
    opacity: 1;
    transform: none;
}
}
.fadeInUp {
    animation-name: fadeInUp;
}
@keyframes fadeInUpBig {
0% {
    opacity: 0;
    transform: translate3d(0px, 2000px, 0px);
}
100% {
    opacity: 1;
    transform: none;
}
}
.fadeInUpBig {
    animation-name: fadeInUpBig;
}
@keyframes fadeOut {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
.fadeOut {
    animation-name: fadeOut;
}
@keyframes fadeOutDown {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
    transform: translate3d(0px, 100%, 0px);
}
}
.fadeOutDown {
    animation-name: fadeOutDown;
}
@keyframes fadeOutDownBig {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
    transform: translate3d(0px, 2000px, 0px);
}
}
.fadeOutDownBig {
    animation-name: fadeOutDownBig;
}
@keyframes fadeOutLeft {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px);
}
}
.fadeOutLeft {
    animation-name: fadeOutLeft;
}
@keyframes fadeOutLeftBig {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
    transform: translate3d(-2000px, 0px, 0px);
}
}
.fadeOutLeftBig {
    animation-name: fadeOutLeftBig;
}
@keyframes fadeOutRight {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
    transform: translate3d(100%, 0px, 0px);
}
}
.fadeOutRight {
    animation-name: fadeOutRight;
}
@keyframes fadeOutRightBig {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
    transform: translate3d(2000px, 0px, 0px);
}
}
.fadeOutRightBig {
    animation-name: fadeOutRightBig;
}
@keyframes fadeOutUp {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
    transform: translate3d(0px, -100%, 0px);
}
}
.fadeOutUp {
    animation-name: fadeOutUp;
}
@keyframes fadeOutUpBig {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
    transform: translate3d(0px, -2000px, 0px);
}
}
.fadeOutUpBig {
    animation-name: fadeOutUpBig;
}
@keyframes flip {
0% {
    animation-timing-function: ease-out;
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
}
40% {
    animation-timing-function: ease-out;
    transform: perspective(400px) translate3d(0px, 0px, 150px) rotate3d(0, 1, 0, -190deg);
}
50% {
    animation-timing-function: ease-in;
    transform: perspective(400px) translate3d(0px, 0px, 150px) rotate3d(0, 1, 0, -170deg);
}
80% {
    animation-timing-function: ease-in;
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
}
100% {
    animation-timing-function: ease-in;
    transform: perspective(400px);
}
}
.animated.flip {
    animation-name: flip;
    backface-visibility: visible;
}
@keyframes flipInX {
0% {
    opacity: 0;
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
}
40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
}
60% {
    opacity: 1;
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
}
80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
}
100% {
    transform: perspective(400px);
}
}
.flipInX {
    animation-name: flipInX;
    backface-visibility: visible !important;
}
@keyframes flipInY {
0% {
    opacity: 0;
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transition-timing-function: ease-in;
}
40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transition-timing-function: ease-in;
}
60% {
    opacity: 1;
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
}
80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
}
100% {
    transform: perspective(400px);
}
}
.flipInY {
    animation-name: flipInY;
    backface-visibility: visible !important;
}
@keyframes flipOutX {
0% {
    transform: perspective(400px);
}
30% {
    opacity: 1;
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
}
100% {
    opacity: 0;
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
}
}
.flipOutX {
    animation-duration: 0.75s;
    animation-name: flipOutX;
    backface-visibility: visible !important;
}
@keyframes flipOutY {
0% {
    transform: perspective(400px);
}
30% {
    opacity: 1;
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
}
100% {
    opacity: 0;
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
}
}
.flipOutY {
    animation-duration: 0.75s;
    animation-name: flipOutY;
    backface-visibility: visible !important;
}
@keyframes lightSpeedIn {
0% {
    opacity: 0;
    transform: translate3d(100%, 0px, 0px) skewX(-30deg);
}
60% {
    opacity: 1;
    transform: skewX(20deg);
}
80% {
    opacity: 1;
    transform: skewX(-5deg);
}
100% {
    opacity: 1;
    transform: none;
}
}
.lightSpeedIn {
    animation-name: lightSpeedIn;
    animation-timing-function: ease-out;
}
@keyframes lightSpeedOut {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
    transform: translate3d(100%, 0px, 0px) skewX(30deg);
}
}
.lightSpeedOut {
    animation-name: lightSpeedOut;
    animation-timing-function: ease-in;
}
@keyframes rotateIn {
0% {
    opacity: 0;
    transform: rotate3d(0, 0, 1, -200deg);
    transform-origin: center center 0;
}
100% {
    opacity: 1;
    transform: none;
    transform-origin: center center 0;
}
}
.rotateIn {
    animation-name: rotateIn;
}
@keyframes rotateInDownLeft {
0% {
    opacity: 0;
    transform: rotate3d(0, 0, 1, -45deg);
    transform-origin: left bottom 0;
}
100% {
    opacity: 1;
    transform: none;
    transform-origin: left bottom 0;
}
}
.rotateInDownLeft {
    animation-name: rotateInDownLeft;
}
@keyframes rotateInDownRight {
0% {
    opacity: 0;
    transform: rotate3d(0, 0, 1, 45deg);
    transform-origin: right bottom 0;
}
100% {
    opacity: 1;
    transform: none;
    transform-origin: right bottom 0;
}
}
.rotateInDownRight {
    animation-name: rotateInDownRight;
}
@keyframes rotateInUpLeft {
0% {
    opacity: 0;
    transform: rotate3d(0, 0, 1, 45deg);
    transform-origin: left bottom 0;
}
100% {
    opacity: 1;
    transform: none;
    transform-origin: left bottom 0;
}
}
.rotateInUpLeft {
    animation-name: rotateInUpLeft;
}
@keyframes rotateInUpRight {
0% {
    opacity: 0;
    transform: rotate3d(0, 0, 1, -90deg);
    transform-origin: right bottom 0;
}
100% {
    opacity: 1;
    transform: none;
    transform-origin: right bottom 0;
}
}
.rotateInUpRight {
    animation-name: rotateInUpRight;
}
@keyframes rotateOut {
0% {
    opacity: 1;
    transform-origin: center center 0;
}
100% {
    opacity: 0;
    transform: rotate3d(0, 0, 1, 200deg);
    transform-origin: center center 0;
}
}
.rotateOut {
    animation-name: rotateOut;
}
@keyframes rotateOutDownLeft {
0% {
    opacity: 1;
    transform-origin: left bottom 0;
}
100% {
    opacity: 0;
    transform-origin: left bottom 0;
}
}
.rotateOutDownLeft {
    animation-name: rotateOutDownLeft;
}
@keyframes rotateOutDownRight {
0% {
    opacity: 1;
    transform-origin: right bottom 0;
}
100% {
    opacity: 0;
    transform: rotate3d(0, 0, 1, -45deg);
    transform-origin: right bottom 0;
}
}
.rotateOutDownRight {
    animation-name: rotateOutDownRight;
}
@keyframes rotateOutUpLeft {
0% {
    opacity: 1;
    transform-origin: left bottom 0;
}
100% {
    opacity: 0;
    transform: rotate3d(0, 0, 1, -45deg);
    transform-origin: left bottom 0;
}
}
.rotateOutUpLeft {
    animation-name: rotateOutUpLeft;
}
@keyframes rotateOutUpRight {
0% {
    opacity: 1;
    transform-origin: right bottom 0;
}
100% {
    opacity: 0;
    transform: rotate3d(0, 0, 1, 90deg);
    transform-origin: right bottom 0;
}
}
.rotateOutUpRight {
    animation-name: rotateOutUpRight;
}
@keyframes hinge {
0% {
    animation-timing-function: ease-in-out;
    transform-origin: left top 0;
}
20%, 60% {
    animation-timing-function: ease-in-out;
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: left top 0;
}
40%, 80% {
    animation-timing-function: ease-in-out;
    opacity: 1;
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: left top 0;
}
100% {
    opacity: 0;
    transform: translate3d(0px, 700px, 0px);
}
}
.hinge {
    animation-name: hinge;
}
@keyframes rollIn {
0% {
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px) rotate3d(0, 0, 1, -120deg);
}
100% {
    opacity: 1;
    transform: none;
}
}
.rollIn {
    animation-name: rollIn;
}
@keyframes rollOut {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
    transform: translate3d(100%, 0px, 0px) rotate3d(0, 0, 1, 120deg);
}
}
.rollOut {
    animation-name: rollOut;
}
@keyframes zoomIn {
0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
}
50% {
    opacity: 1;
}
}
.zoomIn {
    animation-name: zoomIn;
}
@keyframes zoomInDown {
0% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, -1000px, 0px);
}
60% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, 60px, 0px);
}
}
.zoomInDown {
    animation-name: zoomInDown;
}
@keyframes zoomInLeft {
0% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0px, 0px);
}
60% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0px, 0px);
}
}
.zoomInLeft {
    animation-name: zoomInLeft;
}
@keyframes zoomInRight {
0% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0px, 0px);
}
60% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0px, 0px);
}
}
.zoomInRight {
    animation-name: zoomInRight;
}
@keyframes zoomInUp {
0% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, 1000px, 0px);
}
60% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, -60px, 0px);
}
}
.zoomInUp {
    animation-name: zoomInUp;
}
@keyframes zoomOut {
0% {
    opacity: 1;
}
50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
}
100% {
    opacity: 0;
}
}
.zoomOut {
    animation-name: zoomOut;
}
@keyframes zoomOutDown {
40% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, -60px, 0px);
}
100% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, 2000px, 0px);
    transform-origin: center bottom 0;
}
}
.zoomOutDown {
    animation-name: zoomOutDown;
}
@keyframes zoomOutLeft {
40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0px, 0px);
}
100% {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0px, 0px);
    transform-origin: left center 0;
}
}
.zoomOutLeft {
    animation-name: zoomOutLeft;
}
@keyframes zoomOutRight {
40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0px, 0px);
}
100% {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0px, 0px);
    transform-origin: right center 0;
}
}
.zoomOutRight {
    animation-name: zoomOutRight;
}
@keyframes zoomOutUp {
40% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, 60px, 0px);
}
100% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, -2000px, 0px);
    transform-origin: center bottom 0;
}
}
.zoomOutUp {
    animation-name: zoomOutUp;
}









/*.clear	{ 
	clear: both;
	display: block;
	width: 0; 
	height: 0;
	visibility: hidden;
}*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}


#container {
	width:  860px;
	margin: 0 auto;
}

/*section {
	position: relative;
	height: 200px;

}

.section--white {
	background-color: #FFFFFF;
}

.section--red {
	background-color: #E74C3C;
}

.section--purple {
	background-color: #D6A8E9;
}

.section--blue {
	background-color: #33CCF7;
}

.section--yellow {
	background-color: #F4E9B4;
}

.section--green {
	background-color: #80D99D;
}
.section--cyan{
	background-color: #80D99D;
}

.section--pale{
	background-color: #F4E9B4;
}
*/
.col_third section { margin: 0; }

.icn_red { color: #FF3D6A; }
.icn_purple { color: #9B59B6; }
.icn_blue{ color: #3498DB; }
.icn_yellow { color: #F1C40F; }
.icn_green { color: #80D99D; }

/*-=-=-=-=-=-=-=-=-=-*/
/* Wow Image */
/*-=-=-=-=-=-=-=-=-= */

/*.service-section {
	margin: 20px 0;
	position: relative;
	overflow: hidden;
}*/

.wow_imgage {
	position: relative;
	float: left;
	margin: 0 20px 20px 0;
	width: 270px;
	height: 180px;
}

.wow_imgage img {
	border: 4px solid #e4e4e1;
}

/*-=-=-=-=-=-=-=-=-=-*/
/* Column Grids */
/*-=-=-=-=-=-=-=-=-= */

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; }





/*----------------------------------------------------------------------------*/























@-webkit-keyframes bounce {
0%, 100%, 20%, 53%, 80% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
40%, 43% {
    -webkit-transform: translate3d(0px, -30px, 0px);
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
70% {
    -webkit-transform: translate3d(0px, -15px, 0px);
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
90% {
    -webkit-transform: translate3d(0px, -4px, 0px);
}
}
.bounce {
    -webkit-animation-name: bounce;
    -webkit-transform-origin: center bottom 0;
}
@-webkit-keyframes flash {
0%, 100%, 50% {
    -webkit-opacity: 1;
}
25%, 75% {
    -webkit-opacity: 0;
}
}
.flash {
    -webkit-animation-name: flash;
}
@-webkit-keyframes pulse {
0% {
    -webkit-transform: scale3d(1, 1, 1);
}
50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
}
100% {
    -webkit-transform: scale3d(1, 1, 1);
}
}
.pulse {
    -webkit-animation-name: pulse;
}

@-webkit-keyframes rubberBand {
0% {
    -webkit-transform: scale3d(1, 1, 1);
}
30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
}
40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
}
50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
}
65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
}
75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
}
100% {
    -webkit-transform: scale3d(1, 1, 1);
}
}
.rubberBand {
    -webkit-animation-name: rubberBand;
}
@-webkit-keyframes shake {
0%, 100% {
    -webkit-transform: translate3d(0px, 0px, 0px);
}
10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0px, 0px);
}
20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0px, 0px);
}
}
.shake {
    -webkit-animation-name: shake;
}
@-webkit-keyframes swing {
20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
}
40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
}
60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
}
80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
}
100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
}
}
.swing {
    -webkit-animation-name: swing;
    -webkit-transform-origin: center top 0;
}
@-webkit-keyframes tada {
0% {
    -webkit-transform: scale3d(1, 1, 1);
}
10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
}
30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
}
40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
}
100% {
    -webkit-transform: scale3d(1, 1, 1);
}
}
.tada {
    -webkit-animation-name: tada;
}
@-webkit-keyframes wobble {
0% {
    -webkit-transform: none;
}
15% {
    -webkit-transform: translate3d(-25%, 0px, 0px) rotate3d(0, 0, 1, -5deg);
}
30% {
    -webkit-transform: translate3d(20%, 0px, 0px) rotate3d(0, 0, 1, 3deg);
}
45% {
    -webkit-transform: translate3d(-15%, 0px, 0px) rotate3d(0, 0, 1, -3deg);
}
60% {
    -webkit-transform: translate3d(10%, 0px, 0px) rotate3d(0, 0, 1, 2deg);
}
75% {
    -webkit-transform: translate3d(-5%, 0px, 0px) rotate3d(0, 0, 1, -1deg);
}
100% {
    -webkit-transform: none;
}
}
.wobble {
    -webkit-animation-name: wobble;
}
@-webkit-keyframes bounceIn {
0%, 100%, 20%, 40%, 60%, 80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
0% {
    -webkit-opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
}
20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
}
40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
}
60% {
    -webkit-opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
}
80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
}
100% {
    -webkit-opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
}
}
.bounceIn {
    -webkit-animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
}
@-webkit-keyframes bounceInDown {
0%, 100%, 60%, 75%, 90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
0% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(0px, -3000px, 0px);
}
60% {
    -webkit-opacity: 1;
    -webkit-transform: translate3d(0px, 25px, 0px);
}
75% {
    -webkit-transform: translate3d(0px, -10px, 0px);
}
90% {
    -webkit-transform: translate3d(0px, 5px, 0px);
}
100% {
    -webkit-transform: none;
}
}
.bounceInDown {
    -webkit-animation-name: bounceInDown;
}
@-webkit-keyframes bounceInLeft {
0%, 100%, 60%, 75%, 90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
0% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(-3000px, 0px, 0px);
}
60% {
    -webkit-opacity: 1;
    -webkit-transform: translate3d(25px, 0px, 0px);
}
75% {
    -webkit-transform: translate3d(-10px, 0px, 0px);
}
90% {
    -webkit-transform: translate3d(5px, 0px, 0px);
}
100% {
    -webkit-transform: none;
}
}
.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
}
@-webkit-keyframes bounceInRight {
0%, 100%, 60%, 75%, 90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
0% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(3000px, 0px, 0px);
}
60% {
    -webkit-opacity: 1;
    -webkit-transform: translate3d(-25px, 0px, 0px);
}
75% {
    -webkit-transform: translate3d(10px, 0px, 0px);
}
90% {
    -webkit-transform: translate3d(-5px, 0px, 0px);
}
100% {
    -webkit-transform: none;
}
}
.bounceInRight {
    -webkit-animation-name: bounceInRight;
}
@-webkit-keyframes bounceInUp {
0%, 100%, 60%, 75%, 90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
0% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(0px, 3000px, 0px);
}
60% {
    -webkit-opacity: 1;
    -webkit-transform: translate3d(0px, -20px, 0px);
}
75% {
    -webkit-transform: translate3d(0px, 10px, 0px);
}
90% {
    -webkit-transform: translate3d(0px, -5px, 0px);
}
100% {
    -webkit-transform: translate3d(0px, 0px, 0px);
}
}
.bounceInUp {
    -webkit-animation-name: bounceInUp;
}
@-webkit-keyframes bounceOut {
20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
}
50%, 55% {
    -webkit-opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
}
}
.bounceOut {
    -webkit-animation-duration: 0.75s;
    -webkit-animation-name: bounceOut;
}
@-webkit-keyframes bounceOutDown {
20% {
    -webkit-transform: translate3d(0px, 10px, 0px);
}
40%, 45% {
    -webkit-opacity: 1;
    -webkit-transform: translate3d(0px, -20px, 0px);
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(0px, 2000px, 0px);
}
}
.bounceOutDown {
    -webkit-animation-name: bounceOutDown;
}
@-webkit-keyframes bounceOutLeft {
20% {
    -webkit-opacity: 1;
    -webkit-transform: translate3d(20px, 0px, 0px);
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(-2000px, 0px, 0px);
}
}
.bounceOutLeft {
    -webkit-animation-name: bounceOutLeft;
}
@-webkit-keyframes bounceOutRight {
20% {
    -webkit-opacity: 1;
    -webkit-transform: translate3d(-20px, 0px, 0px);
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(2000px, 0px, 0px);
}
}
.bounceOutRight {
    -webkit-animation-name: bounceOutRight;
}
@-webkit-keyframes bounceOutUp {
20% {
    -webkit-transform: translate3d(0px, -10px, 0px);
}
40%, 45% {
    -webkit-opacity: 1;
    -webkit-transform: translate3d(0px, 20px, 0px);
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(0px, -2000px, 0px);
}
}
.bounceOutUp {
    -webkit-animation-name: bounceOutUp;
}
@-webkit-keyframes fadeIn {
0% {
    -webkit-opacity: 0;
}
100% {
    -webkit-opacity: 1;
}
}
.fadeIn {
    -webkit-animation-name: fadeIn;
}
@-webkit-keyframes fadeInDown {
0% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(0px, -100%, 0px);
}
100% {
    -webkit-opacity: 1;
    -webkit-transform: none;
}
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
}
@-webkit-keyframes fadeInDownBig {
0% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(0px, -2000px, 0px);
}
100% {
    -webkit-opacity: 1;
    -webkit-transform: none;
}
}
.fadeInDownBig {
    -webkit-animation-name: fadeInDownBig;
}
@-webkit-keyframes fadeInLeft {
0% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(-100%, 0px, 0px);
}
100% {
    -webkit-opacity: 1;
    -webkit-transform: none;
}
}
.fadeInLeft {
   -webkit-animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInLeftBig {
0% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(-2000px, 0px, 0px);
}
100% {
    -webkit-opacity: 1;
    -webkit-transform: none;
}
}
.fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
}
@-webkit-keyframes fadeInRight {
0% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(100%, 0px, 0px);
}
100% {
    -webkit-opacity: 1;
    -webkit-transform: none;
}
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
}
@-webkit-keyframes fadeInRightBig {
0% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(2000px, 0px, 0px);
}
100% {
    -webkit-opacity: 1;
    -webkit-transform: none;
}
}
.fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
}
@-webkit-keyframes fadeInUp {
0% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(0px, 100%, 0px);
}
100% {
    -webkit-opacity: 1;
    -webkit-transform: none;
}
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
}
@-webkit-keyframes fadeInUpBig {
0% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(0px, 2000px, 0px);
}
100% {
    -webkit-opacity: 1;
    -webkit-transform: none;
}
}
.fadeInUpBig {
    -webkit-animation-name: fadeInUpBig;
}
@-webkit-keyframes fadeOut {
0% {
    -webkit-opacity: 1;
}
100% {
    -webkit-opacity: 0;
}
}
.fadeOut {
    -webkit-animation-name: fadeOut;
}
@-webkit-keyframes fadeOutDown {
0% {
    -webkit-opacity: 1;
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(0px, 100%, 0px);
}
}
.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
}
@-webkit-keyframes fadeOutDownBig {
0% {
    -webkit-opacity: 1;
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(0px, 2000px, 0px);
}
}
.fadeOutDownBig {
    -webkit-animation-name: fadeOutDownBig;
}
@-webkit-keyframes fadeOutLeft {
0% {
    -webkit-opacity: 1;
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(-100%, 0px, 0px);
}
}
.fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
}
@-webkit-keyframes fadeOutLeftBig {
0% {
    -webkit-opacity: 1;
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(-2000px, 0px, 0px);
}
}
.fadeOutLeftBig {
    -webkit-animation-name: fadeOutLeftBig;
}
@-webkit-keyframes fadeOutRight {
0% {
    -webkit-opacity: 1;
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(100%, 0px, 0px);
}
}
.fadeOutRight {
    -webkit-animation-name: fadeOutRight;
}
@-webkit-keyframes fadeOutRightBig {
0% {
    -webkit-opacity: 1;
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(2000px, 0px, 0px);
}
}
.fadeOutRightBig {
    -webkit-animation-name: fadeOutRightBig;
}
@-webkit-keyframes fadeOutUp {
0% {
    -webkit-opacity: 1;
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(0px, -100%, 0px);
}
}
.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
}
@-webkit-keyframes fadeOutUpBig {
0% {
    -webkit-opacity: 1;
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(0px, -2000px, 0px);
}
}
.fadeOutUpBig {
    -webkit-animation-name: fadeOutUpBig;
}
@-webkit-keyframes flip {
0% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
}
40% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: perspective(400px) translate3d(0px, 0px, 150px) rotate3d(0, 1, 0, -190deg);
}
50% {
    -webkit-animation-timing-function: ease-in;
    -webkit-transform: perspective(400px) translate3d(0px, 0px, 150px) rotate3d(0, 1, 0, -170deg);
}
80% {
    -webkit-animation-timing-function: ease-in;
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
}
100% {
    -webkit-animation-timing-function: ease-in;
    -webkit-transform: perspective(400px);
}
}
.animated.flip {
    -webkit-animation-name: flip;
    -webkit-backface-visibility: visible;
}
@-webkit-keyframes flipInX {
0% {
    -webkit-opacity: 0;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
}
40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
}
60% {
    -webkit-opacity: 1;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
}
80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
}
100% {
    -webkit-transform: perspective(400px);
}
}
.flipInX {
    -webkit-animation-name: flipInX;
    -webkit-backface-visibility: visible !important;
}
@-webkit-keyframes flipInY {
0% {
    -webkit-opacity: 0;
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
}
40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
}
60% {
    -webkit-opacity: 1;
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
}
80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
}
100% {
    -webkit-transform: perspective(400px);
}
}
.flipInY {
    -webkit-animation-name: flipInY;
    -webkit-backface-visibility: visible !important;
}
@-webkit-keyframes flipOutX {
0% {
    -webkit-transform: perspective(400px);
}
30% {
    -webkit-opacity: 1;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
}
}
.flipOutX {
    -webkit-animation-duration: 0.75s;
    -webkit-animation-name: flipOutX;
    -webkit-backface-visibility: visible !important;
}
@-webkit-keyframes flipOutY {
0% {
    -webkit-transform: perspective(400px);
}
30% {
    -webkit-opacity: 1;
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
}
}
.flipOutY {
    -webkit-animation-duration: 0.75s;
    -webkit-animation-name: flipOutY;
    -webkit-backface-visibility: visible !important;
}
@-webkit-keyframes lightSpeedIn {
0% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(100%, 0px, 0px) skewX(-30deg);
}
60% {
    -webkit-opacity: 1;
    -webkit-transform: skewX(20deg);
}
80% {
    -webkit-opacity: 1;
    -webkit-transform: skewX(-5deg);
}
100% {
    -webkit-opacity: 1;
    -webkit-transform: none;
}
}
.lightSpeedIn {
    -webkit-animation-name: lightSpeedIn;
    -webkit-animation-timing-function: ease-out;
}
@-webkit-keyframes lightSpeedOut {
0% {
    -webkit-opacity: 1;
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(100%, 0px, 0px) skewX(30deg);
}
}
.lightSpeedOut {
    -webkit-animation-name: lightSpeedOut;
    -webkit-animation-timing-function: ease-in;
}
@-webkit-keyframes rotateIn {
0% {
    -webkit-opacity: 0;
   -webkit- transform: rotate3d(0, 0, 1, -200deg);
    -webkit-transform-origin: center center 0;
}
100% {
    -webkit-opacity: 1;
    -webkit-transform: none;
    -webkit-transform-origin: center center 0;
}
}
.rotateIn {
    -webkit-animation-name: rotateIn;
}
@-webkit-keyframes rotateInDownLeft {
0% {
    -webkit-opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform-origin: left bottom 0;
}
100% {
    -webkit-opacity: 1;
    -webkit-transform: none;
    -webkit-transform-origin: left bottom 0;
}
}
.rotateInDownLeft {
    -webkit-animation-name: rotateInDownLeft;
}
@-webkit-keyframes rotateInDownRight {
0% {
    -webkit-opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform-origin: right bottom 0;
}
100% {
    -webkit-opacity: 1;
    -webkit-transform: none;
    -webkit-transform-origin: right bottom 0;
}
}
.rotateInDownRight {
    -webkit-animation-name: rotateInDownRight;
}
@-webkit-keyframes rotateInUpLeft {
0% {
    -webkit-opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform-origin: left bottom 0;
}
100% {
    -webkit-opacity: 1;
    -webkit-transform: none;
    -webkit-transform-origin: left bottom 0;
}
}
.rotateInUpLeft {
    -webkit-animation-name: rotateInUpLeft;
}
@-webkit-keyframes rotateInUpRight {
0% {
    -webkit-opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    -webkit-transform-origin: right bottom 0;
}
100% {
    -webkit-opacity: 1;
    -webkit-transform: none;
    -webkit-transform-origin: right bottom 0;
}
}
.rotateInUpRight {
    -webkit-animation-name: rotateInUpRight;
}
@-webkit-keyframes rotateOut {
0% {
    -webkit-opacity: 1;
    -webkit-transform-origin: center center 0;
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, 200deg);
    -webkit-transform-origin: center center 0;
}
}
.rotateOut {
    -webkit-animation-name: rotateOut;
}
@-webkit-keyframes rotateOutDownLeft {
0% {
    -webkit-opacity: 1;
    -webkit-transform-origin: left bottom 0;
}
100% {
    -webkit-opacity: 0;
    -webkit-transform-origin: left bottom 0;
}
}
.rotateOutDownLeft {
    -webkit-animation-name: rotateOutDownLeft;
}
@-webkit-keyframes rotateOutDownRight {
0% {
    -webkit-opacity: 1;
    -webkit-transform-origin: right bottom 0;
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform-origin: right bottom 0;
}
}
.rotateOutDownRight {
    -webkit-animation-name: rotateOutDownRight;
}
@-webkit-keyframes rotateOutUpLeft {
0% {
    -webkit-opacity: 1;
    -webkit-transform-origin: left bottom 0;
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform-origin: left bottom 0;
}
}
.rotateOutUpLeft {
    -webkit-animation-name: rotateOutUpLeft;
}
@-webkit-keyframes rotateOutUpRight {
0% {
    -webkit-opacity: 1;
    -webkit-transform-origin: right bottom 0;
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    -webkit-transform-origin: right bottom 0;
}
}
.rotateOutUpRight {
    -webkit-animation-name: rotateOutUpRight;
}
@-webkit-keyframes hinge {
0% {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-transform-origin: left top 0;
}
20%, 60% {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: left top 0;
}
40%, 80% {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: left top 0;
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(0px, 700px, 0px);
}
}
.hinge {
    -webkit-animation-name: hinge;
}
@-webkit-keyframes rollIn {
0% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(-100%, 0px, 0px) rotate3d(0, 0, 1, -120deg);
}
100% {
    -webkit-opacity: 1;
    -webkit-transform: none;
}
}
.rollIn {
    -webkit-animation-name: rollIn;
}
@-webkit-keyframes rollOut {
0% {
    -webkit-opacity: 1;
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(100%, 0px, 0px) rotate3d(0, 0, 1, 120deg);
}
}
.rollOut {
    -webkit-animation-name: rollOut;
}
@-webkit-keyframes zoomIn {
0% {
    -webkit-opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
}
50% {
    -webkit-opacity: 1;
}
}
.zoomIn {
    -webkit-animation-name: zoomIn;
}
@-webkit-keyframes zoomInDown {
0% {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, -1000px, 0px);
}
60% {
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    -webkit-opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, 60px, 0px);
}
}
.zoomInDown {
    -webkit-animation-name: zoomInDown;
}
@-webkit-keyframes zoomInLeft {
0% {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0px, 0px);
}
60% {
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    -webkit-opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0px, 0px);
}
}
.zoomInLeft {
    -webkit-animation-name: zoomInLeft;
}
@-webkit-keyframes zoomInRight {
0% {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0px, 0px);
}
60% {
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    -webkit-opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0px, 0px);
}
}
.zoomInRight {
    -webkit-animation-name: zoomInRight;
}
@-webkit-keyframes zoomInUp {
0% {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, 1000px, 0px);
}
60% {
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    -webkit-opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, -60px, 0px);
}
}
.zoomInUp {
    -webkit-animation-name: zoomInUp;
}
@-webkit-keyframes zoomOut {
0% {
    -webkit-opacity: 1;
}
50% {
    -webkit-opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
}
100% {
    -webkit-opacity: 0;
}
}
.zoomOut {
    -webkit-animation-name: zoomOut;
}
@-webkit-keyframes zoomOutDown {
40% {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, -60px, 0px);
}
100% {
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    -webkit-opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, 2000px, 0px);
    -webkit-transform-origin: center bottom 0;
}
}
.zoomOutDown {
    -webkit-animation-name: zoomOutDown;
}
@-webkit-keyframes zoomOutLeft {
40% {
    -webkit-opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0px, 0px);
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: scale(0.1) translate3d(-2000px, 0px, 0px);
    -webkit-transform-origin: left center 0;
}
}
.zoomOutLeft {
    -webkit-animation-name: zoomOutLeft;
}
@-webkit-keyframes zoomOutRight {
40% {
    -webkit-opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0px, 0px);
}
100% {
    -webkit-opacity: 0;
    -webkit-transform: scale(0.1) translate3d(2000px, 0px, 0px);
    -webkit-transform-origin: right center 0;
}
}
.zoomOutRight {
    -webkit-animation-name: zoomOutRight;
}
@-webkit-keyframes zoomOutUp {
40% {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, 60px, 0px);
}
100% {
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    -webkit- opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, -2000px, 0px);
    -webkit-transform-origin: center bottom 0;
}
}
.zoomOutUp {
    -webkit-animation-name: zoomOutUp;
}