/* Styles by -  Samnad. S */
#primary_nav_wrap li:has(ul li a.active)>a {
    background: #fff;
    color: #333 !important;
}
#primary_nav_wrap ul li ul li .active {
    background: #4c656e;
    color: #fff !important;
}
.time_grid.loading{
    cursor: progress;
}
/************************ hide arrow from input number types **************************/
/* Chrome, Safari, Edge, Opera */
input[type=number].no-arrows::-webkit-outer-spin-button,
input[type=number].no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number].no-arrows {
    -moz-appearance: textfield;
}
/************************ hide arrow from input number types END **********************/
/******************* booking background colors ************************/
/* only for bg color dont add any other style property within class except text color */
.bg-od {
    background-color: #8793d6 !important;
    color: #fff;
}
.bg-we {
    background-color: #7ac255 !important;
    color: #fff;
}
.bg-bw {
    background-color: #fd8e41 !important;
    color: #fff;
}
/******************* booking background colors end ********************/