@font-face{font-family:'Conv_PTS55F';src:url('../fonts/PTS55F.eot');src:local(â˜º),url(../fonts/PTS55F.woff) format("woff"),url(../fonts/PTS55F.ttf) format("truetype"),url(../fonts/PTS55F.svg) format("svg");font-weight:400;font-style:normal}

@font-face{font-family:'Open-Sans-regular'; src:url('../fonts/Open-Sans-regular.eot'); src:local(â˜º),url(../fonts/Open-Sans-regular.woff) format("woff"),url(../fonts/Open-Sans-regular.ttf) format("truetype"), url(../fonts/Open-Sans-regular.svg) format("svg");font-weight:400;font-style:normal}

/*@font-face{font-family:'Open-Sans-regular';src:url('../fonts/Open-Sans-regular.eot');src:local(Ã¢ËœÂº),url('../fonts/Open-Sans-regular.woff') format("woff"),url('../fonts/Open-Sans-regular.ttf') format("truetype"),url('../fonts/Open-Sans-regular.svg') format("svg");font-weight:400;font-style:normal}
@font-face{font-family:'Open-Sans-regular'; src:url(fonts/Open-Sans-regular.eot); src:local(☺),url(../fonts/Open-Sans-regular.woff) format("woff"), url(../fonts/Open-Sans-regular.ttf) format("truetype"), url(../fonts/Open-Sans-regular.svg) format("svg"); font-weight:400; font-style:normal}*/

@font-face{font-family:'Conv_PTS75F';src:url(../fonts/PTS75F.eot);src:local(â˜º),url(../fonts/PTS75F.woff) format("woff"),url(../fonts/PTS75F.ttf) format("truetype"),url(../fonts/PTS75F.svg) format("svg");font-weight:400;font-style:normal}

img,object,embed,video{max-width:100%;display:block;width:100%}
.ie6 img{width:100%;display:block}
body { background: #f4f4f4;}
body,div,ul,li,h1,h2,h3,h4,h5,h6,p,blockquote,th,td,img{margin:0;padding:0;border:0;font-family:'Open-Sans-regular',sans-serif;}
.clear{clear:both}
*{outline:none}
.hide{display:none}
::-moz-selection{background:none repeat scroll 0 0 #70c831;color:#FFF}

 textarea, input:matches( [type="email"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="url"] ) {
-webkit-appearance: none;
}
input[type="number"] {
	-moz-appearance: textfield;
}
input[type="number"]:hover, input[type="number"]:focus {
	-moz-appearance: number-input;
}

h1 { font-family:'Conv_PTS55F',Sans-Serif; font-size: 43px; color: #555; line-height: 45px; font-weight: normal;}
h2 { font-family:'Conv_PTS55F',Sans-Serif; font-size: 40px; color: #555; line-height: 40px; font-weight: normal; padding-bottom: 10px;}
h2 span { font-family:'Conv_PTS75F',Sans-Serif; }
h3 { font-family:'Conv_PTS55F',Sans-Serif; font-size: 35px; color: #555; line-height: 35px; font-weight: normal;}
h4 { font-family:'Conv_PTS55F',Sans-Serif; font-size: 30px; color: #555; line-height: 30px; font-weight: normal;}
h5 { font-family:'Conv_PTS55F',Sans-Serif; font-size: 25px; color: #555; line-height: 25px; font-weight: normal;}
h6 { font-family:'Conv_PTS55F',Sans-Serif; font-size: 19px; color: #555; line-height: 20px; font-weight: normal;}

p { font-family:'Open-Sans-regular',sans-serif;font-size:15px;color:#777;line-height:22px;text-align:justify;padding:5px 0}

a { color: #464646; text-decoration: none; -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; transition: all 0.6s ease 0s; }
a:hover { color: #000; text-decoration: underline; }

.pc-view-only{display:block !important}
.mob-view-only{display:none !important}

.text-center{text-align:center}
.text-right{text-align:right!important}
.text-white{color:#FFF!important}
.text-black{color:#555!important}

.box-center{float:none!important;margin:0 auto;display:table}
.mob-menu-icon{display:none}

.view-only-415 { display: none;}
.hide-only-415 { display: block;}

.view-only-320 { display: none}
.hide-only-320 { display: block;}

.view-only-600 { display: none}
.hide-only-600 { display: block;}

.view-only-1024 { display: none}
.hide-only-1024 { display: block;}

select { -moz-appearance: none; -webkit-appearance: none; -0-appearance: none;  }

::-webkit-input-placeholder{color:#000}
:-moz-placeholder{color:#000}
::-moz-placeholder{color:#000}
:-ms-input-placeholder{color:#000}
.no-top-padding{padding-top:0!important}
.no-right-padding{padding-right:0!important}
.no-bottom-padding{padding-bottom:0!important}
.no-left-padding{padding-left:0!important}
.no-top-bottom-padding{padding-top:0!important;padding-bottom:0!important}
.no-left-right-padding{padding-left:0!important;padding-right:0!important}
.no-padding{padding:0!important}
.no-top-margin{margin-top:0!important}
.no-right-margin{margin-right:0!important}
.no-bottom-margin{margin-bottom:0!important}
.no-left-margin{margin-left:0!important}
.no-top-bottom-margin{margin-top:0!important;margin-bottom:0!important}
.no-left-right-margin{margin-left:0!important;margin-right:0!important}
.no-margin{margin:0!important}

.wrapper-main{width:100%;height:auto}
.fortoppadding{padding-top: 100px;}

.mob-menu-icon { display: none !important;}

.header-wrapper { width: 100%; background: #fff; }

.search-wrapper { width: 100%;  border-bottom: 1px solid #fff; padding: 0px 0px;}

.logo { width: 180px; float: left;}
.navbar-search {border-radius: 5px; background: #fff; width: auto; padding: 0px 0px; border: 0px; overflow: hidden; margin-top:2.5px; height: 34px;}
.navbar-search .search-query { font-size: 13px; border: 0px; color: #000; line-height: normal; box-shadow: 0px 0px 0px #FFF;}
.navbar-search .select2-container--default .select2-selection--single{ border: 0px !important; }
.select2-results__option {  font-size: 13px !important;
line-height: 20px !important;
padding: 6px 12px !important;
display: block;
border-bottom: 1px solid #eee;}

#head-search-f {box-shadow: 0px 0px 0px #FFF;}
.navbar-search { float: right; margin-right: 20px; border: 1px solid #ccc;}
.admin-drp-main { float: right;}


.admin-drp-main #primary_nav_wrap { background:  none;}
.admin-drp-main #primary_nav_wrap li a { font-size: 13px; color: #555;  }
.admin-drp-main #primary_nav_wrap li a:hover { color: #FFF;background: none;}
.admin-drp-main #primary_nav_wrap ul ul { width: 200px; left: auto; right: 0px; }
.admin-drp-main #primary_nav_wrap ul ul li a:hover { color: #FFF; background: #294C5A;}
.search-section { padding-top: 5px;}

.admin-drp-main #primary_nav_wrap li a i { color: #FFF; width: 36px; height: 36px; padding-top: 10px; font-size: 15px; border-radius: 50%;background: #294C5A; margin-left: 20px; }


.admin-drp-main #primary_nav_wrap ul li a.e-hed-icon { padding: 0px 0px; background: none;}


.gradient  {background: rgb(58,44,112) !important;
background: -moz-linear-gradient(-45deg, rgb(58,44,112) 0%, rgb(106,0,91) 100%)!important;
background: -webkit-linear-gradient(-45deg, rgb(58,44,112) 0%,rgb(106,0,91) 100%)!important;
background: linear-gradient(135deg, rgb(58,44,112) 0%,rgb(106,0,91) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a2c70', endColorstr='#6a005b',GradientType=1 )!important;}



.widget-header .btn { color:#fff !important; background: #7AC255;}
.widget-header .btn:hover { color:#FFF !important; background: #8793D6;}

.menu { border-top: 1px solid #fff; /*background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(58, 44, 112) 0%, rgb(106, 0, 91) 100%) repeat scroll 0 0;*/ display: block; }

header { width: 100% !important; height: auto;position: fixed;top: 0;left: 0; z-index: 9999; -moz-transition: height 0.6s ease 0s; -o-transition: height 0.6s ease 0s; -webkit-transition: height 0.6s ease 0s;  transition: height 0.6s ease 0s;}



/*-------------// MENU SECTION //----------------*/

#primary_nav_wrap{ width: 100% !important; -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; transition: all 0.6s ease 0s;  background: #294C5A;}
#primary_nav_wrap ul { list-style:none; text-align: center; position:relative; margin:0; padding:0; font-size: 0px; }
#primary_nav_wrap li {position:relative; margin:0; padding:0; display: inline-block;}
#primary_nav_wrap li a { display:block; font-family:'Open-Sans-regular',sans-serif; font-size: 12px; color: #FFF; line-height: 21px; padding: 10px 25px; text-decoration: none; }
#primary_nav_wrap li a:hover { color: #333 !important;background: #fff;}
#primary_nav_wrap li a.active { color: #333 !important;background: #fff;}
#primary_nav_wrap ul li:hover > ul { display:block;}

#primary_nav_wrap ul ul { width:250px; display:none; position:absolute; top:100%; left:0; z-index: 999; box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);  padding:0; max-height: 70vh; /*overflow-x: hidden; overflow-y: scroll;*/}
#primary_nav_wrap ul ul li {width: 100% !important; text-align: left !important; border-top: 1px solid #eee; background: #fff;}
#primary_nav_wrap ul ul li a { font-size: 13px; border: 0px; padding-left: 20px; color: #555 !important; padding-top: 8px; padding-bottom: 8px;}
#primary_nav_wrap ul ul li a:hover { color: #FFF !important; background: #294C5A; padding-left: 30px; }

#primary_nav_wrap ul li ul li:first-child { border-top: 0px; }
#primary_nav_wrap ul ul.last-ul { position: absolute; left: auto; right: 0; top: 100%;overflow-y: scroll; }
#primary_nav_wrap li:hover a {color: #333; background: #fff;}




#primary_nav_wrap ul ul ul { width:240px; display:none; position:absolute;left: auto; right: 100%; top: 0; z-index: 999; padding:0;}
#primary_nav_wrap ul ul li:hover ul { display: block;}


#primary_nav_wrap ul ul li:hover a {color: #333; background: #fafafa;}
#primary_nav_wrap ul ul li:hover a:hover {color: #FFF; background: #294C5A;}


/*---------------------------------------*/










.backtotop{position:fixed;right:5%;bottom:15px;display:none;-webkit-filter:grayscale(100%);filter:grayscale(100%)}
.backtotop a{text-decoration:none;border:0 none;display:block;width:31px;height:155px}
.backtotop a:hover{opacity:.8}
.backtotop:hover{-webkit-filter:grayscale(0%);filter:grayscale(0%)}


.dash-top-wrapper { padding-top: 120px;}
.content-wrapper { padding-bottom: 0px;}





.e-new-but {font-size: 13px; padding: 4px 10px; color: white; line-height: 18px; cursor: pointer; padding: 5px 20px; border: 0px; text-transform: uppercase; background: #7AC255;}

.e-new-but:hover { background:  #8793D6;}

.n-main-box { border: 1px solid #e4e4e4;
padding: 0px !important;
border-radius: 10px;
background: #FFF;}

.n-cont-main-box { padding: 20px 20px !important;}

.widget-header { padding-top: 5px; padding-bottom: 5px;}
.widget-header  select { height: 32px;}
.widget-header ul {display: table; width: 100%;}
.widget-header ul li { list-style: none; float: left; margin: 0px 25px 0px 0px;}
.widget-header ul li:first-child { padding-top: 5px;}
.widget-header .n-btn { display:inline-block; margin-bottom: 0px; padding: 7px 10px !important; text-decoration: none !important;}
.widget-header .topiconnew, .widget-header .topiconnew a { width: 32px; height: 32px; font-size: 14px; line-height: 15px; margin-top: 0px; text-decoration: none !important;}


.half_text, .full_text { width: 100% !important;}



/*---------------------My Maid Start -------------------------*/


.colour-box-main { padding-bottom: 30px; position:relative;}
.colour-box { padding: 4px 0px 4px 0px; /*min-height: 158px;*/ border-radius: 8px;}

.n-color-cont-box { background: #FFF; width: 98%; border-radius: 5px !important; overflow: hidden; margin: 0 auto; padding: 10px 0px;}

.colour-box.purple .view-all-booking a,  .colour-box.green .view-all-booking a, .colour-box.red .view-all-booking a, .colour-box.blue .view-all-booking a { color: #FFF;}

.colour-box.blue .view-all-booking a:first-of-type { border-right: 1px solid #fafafa;}


/*.n-icon { position: absolute; left: 35px; top: 25px; z-index: 1; opacity:0.5; width: 60px;}
.n-right-icon .n-icon { left: inherit; right: 45px; top: 70px; width: 70px; }*/


.n-icon { opacity:0.5; width: 60px; margin:0 auto; display: none;}
.n-right-icon .n-icon { left: inherit; right: 45px; top: 70px; width: 70px; }




.logo-color1 { background: #513c71;}
.logo-color1 .view-all-booking a { color: #FFF;}
.logo-color1 .view-all-booking a:first-of-type { border-right: 1px solid #604881;}
.logo-color1 .view-all-booking a:hover { color: #FFF; background: #604881;}

.logo-color2 { background: #8a71a8;}
.logo-color2 .view-all-booking a { color: #FFF;}
.logo-color2 .view-all-booking a:first-of-type { border-right: 1px solid #8a71a8;}
.logo-color2 .view-all-booking a:hover { color: #FFF; background: #735b93;}

.logo-color3 { background: #1ca99e;}
.logo-color3 .view-all-booking a { color: #FFF;}
.logo-color3 .view-all-booking a:first-of-type { border-right: 1px solid #1ca99e;}
.logo-color3 .view-all-booking a:hover { color: #FFF; background: #108174;}

.logo-color4 { background: #68cae2;}
.logo-color4 .view-all-booking a { color: #FFF;}
.logo-color4 .view-all-booking a:first-of-type { border-right: 1px solid #68cae2;}
.logo-color4 .view-all-booking a:hover { color: #FFF; background: #42add1;}



.emaid-gradient {background: #42add1;
background: -moz-linear-gradient(-45deg,  #42add1 0%, #108174 21%, #513c71 65%);
background: -webkit-linear-gradient(-45deg,  #42add1 0%,#108174 21%,#513c71 65%);
background: linear-gradient(135deg,  #42add1 0%,#108174 21%,#513c71 65%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42add1', endColorstr='#513c71',GradientType=1 );}





.red { /*background: #fc8675;*/
background: #f63a56;
/*background: -moz-linear-gradient(45deg,  #ef0e75 0%, #f94430 66%, #ff6505 100%);
background: -webkit-linear-gradient(45deg,  #ef0e75 0%,#f94430 66%,#ff6505 100%);
background: linear-gradient(45deg,  #ef0e75 0%,#f94430 66%,#ff6505 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef0e75', endColorstr='#ff6505',GradientType=1 );*/}
.red .view-all-booking a { color: #ec273b;}
.red .view-all-booking a:first-of-type { border-right: 1px solid #f63a56;}
.red .view-all-booking a:hover { color: #FFF; background: #ec273b;}


.yellow { /*background: #f3ce85;*/
background: #fee128;
/*background: -moz-linear-gradient(45deg,  #fc4c17 0%, #f98628 66%, #f8b232 100%);
background: -webkit-linear-gradient(45deg,  #fc4c17 0%,#f98628 66%,#f8b232 100%);
background: linear-gradient(45deg,  #fc4c17 0%,#f98628 66%,#f8b232 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc4c17', endColorstr='#f8b232',GradientType=1 );*/}
.yellow .view-all-booking a { color: #fee128;}
.yellow .view-all-booking a:first-of-type { border-right: 1px solid #fee128;}
.yellow .view-all-booking a:hover { color: #FFF; background: #f7cd18;}


.orange { /*background: #f3ce85;*/
background: #fd8e41;
/*background: -moz-linear-gradient(45deg,  #fc4c17 0%, #f98628 66%, #f8b232 100%);
background: -webkit-linear-gradient(45deg,  #fc4c17 0%,#f98628 66%,#f8b232 100%);
background: linear-gradient(45deg,  #fc4c17 0%,#f98628 66%,#f8b232 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc4c17', endColorstr='#f8b232',GradientType=1 );*/}
.yellow .view-all-booking a { color: #fd8e41;}
.yellow .view-all-booking a:first-of-type { border-right: 1px solid #fd8e41;}
.yellow .view-all-booking a:hover { color: #FFF; background: #f56e2c;}


.green { /*background: #65cea7;*/
background: #7ac255;
/*background: -moz-linear-gradient(45deg,  #06b198 0%, #58bf63 66%, #90c841 100%);
background: -webkit-linear-gradient(45deg,  #06b198 0%,#58bf63 66%,#90c841 100%);
background: linear-gradient(45deg,  #06b198 0%,#58bf63 66%,#90c841 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06b198', endColorstr='#90c841',GradientType=1 );*/}
.green .view-all-booking a { color: #5aa93b;}
.green .view-all-booking a:first-of-type { border-right: 1px solid #47b04d;}
.green .view-all-booking a:hover { color: #FFF; background: #5aa93b;}


.blue { background: #47badf;
/*background: -moz-linear-gradient(45deg,  #6716cd 0%, #4547e5 66%, #2a72fa 100%);
background: -webkit-linear-gradient(45deg,  #6716cd 0%,#4547e5 66%,#2a72fa 100%);
background: linear-gradient(45deg,  #6716cd 0%,#4547e5 66%,#2a72fa 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6716cd', endColorstr='#2a72fa',GradientType=1 );*/}
.blue .view-all-booking a { color: #319fce;}
.blue .view-all-booking a:first-of-type { border-right: 1px solid #3339e0;}
.blue .view-all-booking a:hover { color: #FFF; background: #319fce;}


.violet { background: #8775a7;}
.violet .view-all-booking a { color: #776597;}
.violet .view-all-booking a:first-of-type { border-right: 1px solid #47badf;}
.violet .view-all-booking a:hover { color: #FFF; background: #574577;}


.brown { background: #bd796b;}
.brown .view-all-booking a { color: #ad695b;}
.brown .view-all-booking a:first-of-type { border-right: 1px solid #ad695b;}
.brown .view-all-booking a:hover { color: #FFF; background: #ad695b;}


.pink { background: #ce658c;}
.pink .view-all-booking a { color: #be557c;}
.pink .view-all-booking a:first-of-type { border-right: 1px solid #be557c;}
.pink .view-all-booking a:hover { color: #FFF; background: #be557c;}

.purple {
background: #8793d6;
/*background: -moz-linear-gradient(45deg,  #c1129f 0%, #af31da 66%, #862beb 100%);
background: -webkit-linear-gradient(45deg,  #c1129f 0%,#af31da 66%,#862beb 100%);
background: linear-gradient(45deg,  #c1129f 0%,#af31da 66%,#862beb 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1129f', endColorstr='#862beb',GradientType=1 );*/}
.purple .view-all-booking a { color: #6773c3;}
.purple .view-all-booking a:first-of-type { border-right: 1px solid #8793d6;}
.purple .view-all-booking a:hover { color: #FFF; background: #6773c3;}



.dark { /*background: #ce658c;*/
background: #102128;
background: -moz-linear-gradient(45deg,  #102128 0%, #24434f 66%, #2c5263 100%);
background: -webkit-linear-gradient(45deg,  #102128 0%,#24434f 66%,#2c5263 100%);
background: linear-gradient(45deg,  #102128 0%,#24434f 66%,#2c5263 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#102128', endColorstr='#2c5263',GradientType=1 );}
.dark .view-all-booking a { color: #be557c;}
.dark .view-all-booking a:first-of-type { border-right: 1px solid #be557c;}
.dark .view-all-booking a:hover { color: #FFF; background: #be557c;}


.light-blue { background: #85aaf3;}
.light-blue .view-all-booking a { color: #759ae3;}
.light-blue .view-all-booking a:first-of-type { border-right: 1px solid #759ae3;}
.light-blue .view-all-booking a:hover { color: #FFF; background: #759ae3;}


.light-red { background: #fffafa; border: 1px solid #fdd;}
.light-red .view-all-booking a { color: #759ae3;}
.light-red .view-all-booking a:first-of-type { border-right: 1px solid #759ae3;}
.light-red .view-all-booking a:hover { color: #FFF; background: #759ae3;}


.light-green { background: #95a775;}
.light-green .view-all-booking a { color: #7d8c62;}
.light-green .view-all-booking a:first-of-type { border-right: 1px solid #7d8c62;}
.light-green .view-all-booking a:hover { color: #FFF; background: #7d8c62 ;}



.dash-calender { background-image:url(../images/dash-calender.png); background-repeat: no-repeat;}
.dash-files { background-image:url(../images/dash-files.png); background-repeat: no-repeat;}
.dash-group { background-image:url(../images/dash-group.png); background-repeat: no-repeat;}
.dash-paperclip { background-image:url(../images/dash-paperclip.png); background-repeat: no-repeat;}
.dash-suitcase { background-image:url(../images/dash-suitcase.png); background-repeat: no-repeat;}
.dash-user-plus { background-image:url(../images/dash-user-plus.png); background-repeat: no-repeat;}
.dash-map { background-image:url(../images/dash-map.png); background-repeat: no-repeat;}
.dash-complaint { background-image:url(../images/dash-complaint.png); background-repeat: no-repeat;}
.dash-going { background-image:url(../images/dash-going.png); background-repeat: no-repeat;}

.topiconnew{width: 35px; height: 35px; font-size: 15px; line-height: 15px; color: #555; text-align: center; margin-top: 3px; margin-right: 5px; float: right; border: 1px solid #ccc; background: #fff; border-radius: 50px;}

.topiconnew i { line-height: 35px;}
.topiconnew img{ width: 60%; margin: -4px auto 0; padding-top: 0px; opacity: 1;}

.topiconnew a { width: 35px; height: 35px; font-size: 15px; line-height: 15px; text-align: center; display: block; border-radius: 50px; flex-direction: column; justify-content: center !important; display: flex !important;}

.topiconnew:hover { color: #FFF; background: #8793D6;}
.topiconnew:hover a { color: #FFF; }


/*.colour-box-main h2 { padding-bottom: 15px;}*/
.total-booking-num { font-size: 30px; color: #555; line-height: 40px;  padding: 0px 0px 0px 0px; }
.total-booking-num span { font-size: 14px; display: contents;}
.total-booking-text { font-size: 16px; color: #555; line-height: 20px;  padding: 0px 0px 0px 0px;}
.view-all-booking { width: 98%; border-radius: 5px !important; overflow: hidden; margin: 5px auto 0;}
.view-all-booking a { font-size: 15px; display: block; text-decoration: none; padding: 2px 20px; width: 50%; float: left; /*background: rgba(255,255,255,0.9555);*/}
.view-all-booking a:hover { background: #18918b;}
.colour-rit-icon { padding: 0px 5px;}
.eventstart-but-main{border-radius: 25px; overflow: hidden; margin-top: 10px;}
.eventstart-but-main .eventstart-but,.eventstart-but-main .eventfinish-but  {
padding: 10px 25px; color: #FFF;
background: #4897e6;
border-top: 0px; border-bottom: 0px;
}
.eventstart-but-main .eventstart-but:hover,.eventstart-but-main .eventfinish-but:hover{background: #65cea7; color: #fff;}

.contact-body{padding: 10px 0px 20px 0px;}
.contact-body span{padding-bottom: 10px; display: block;}
.startfinishbox{}
.startfinishbox h4{padding-bottom: 5px; margin-bottom: 0px;}

.mm-loader { width: 100%; height: 100vh; position:fixed; top:0px; left: 0px; z-index: 99999999; background : url("../images/mm-loader.gif") no-repeat no-repeat center center; background-size: 150px; background-color: rgba(0, 0, 0, 0.3); display: none; }

.tab-hed { background: #3B5E6C !important;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;}

.tab-hed h2 { font-size: 17px; line-height: 17px; padding: 10px 15px; color: #FFF; /*border: 1px solid  #ECECEC;*/ margin-bottom: 0px; }

.n-cont-main-box .tab-hed h2 span {  display: inline-block;
  width: 25px;
  position: relative;
  top: -3px;
}

.n-cont-main-box .tab-hed h2 span .n-n { display: block;}
.n-cont-main-box .tab-hed h2 span:hover .n-n { display: none;}

.n-cont-main-box .tab-hed h2 span .n-h { display: none;}
.n-cont-main-box .tab-hed h2 span:hover .n-h { display: block;}


.tab-cont { border: 1px solid  #ECECEC; border-top: 0px;  padding: 10px 15px; -webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;}



.report-cont-det {}
.report-cont-det ul { margin: 0px; padding: 0px;}
.report-cont-det li { font-size: 13px; color: #555; line-height: 18px; list-style: none; border-bottom: 1px solid #ECECEC;}
.report-cont-det li a { display: list-item; text-decoration: none;  padding: 10px 15px; }
.report-cont-det li a:hover { background:  #f2fbfb ;}



.activity-time { font-size: 12px; color: #999; float: right;}


.quick-link-main-box { padding-bottom: 15px;}
.quick-link-main {}
.quick-link-icon { font-size: 30px; text-align: center; padding: 25px 0px 0px 0px; }
.quick-link-text {  font-size: 16px; text-align: center; padding: 0px 0px 25px 0px; }

.quick-link-main-box a { background: #f8f8f8; display: block; text-decoration: none;}
.quick-link-main-box a:hover { color: #428bca; background: #f2fbfb;}



.pc-menu-view-only{display: block !important;}
.mob-menu-view-only{display: none !important;}


.n-booking-summary .n-icon { margin-left: 20px;}


.table-box-main { width: 100%; height: auto;}
.Table{display:table;width:100%}
.Title{display:table-caption;text-align:center;font-weight:700;font-size:larger}
.Heading{display:table-row;font-weight:700;text-align:center}
.Row{display:table-row}
.Cell{display:table-cell;border:1px solid #CCC;border-top:0;border-right:0;border-width:thin;padding:5px 5px 5px 13px}
.table-top-style-box{border:1px solid #CCC;border-left:0;border-bottom:0;position:relative;margin:0px 0 0px}
.table-head{color:#FFF; font-size:20px;     background:  #6a005b}
.Table.table-top-style-box .Row:nth-child(odd){background:rgba(0,0,0,0.05)}
.Table.table-top-style-box .Row{background:rgba(255,255,255,0.3)}
.Cell strong{ font-size:13px;color:#FFF}
.Table p{font-size:13px}
.Cell p { margin: 0px; padding: 0px;}
.table-head-new{color:#FFF;font-size:20px;background:#21353e;background:-moz-linear-gradient(top,rgba(33,53,62,1) 0%,rgba(64,92,119,1) 100%);background:-webkit-linear-gradient(top,rgba(33,53,62,1) 0%,rgba(64,92,119,1) 100%);background:linear-gradient(to bottom,rgba(33,53,62,1) 0%,rgba(64,92,119,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#21353e',endColorstr='#405c77',GradientType=0)}


.mm-drop select {
    -moz-appearance: none;
    background: #fff url("../images/ash-arrow.png") no-repeat scroll right 7px top 11px;
   border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
   padding: 3px 0 3px 10px; line-height: 20px;

    text-indent: 0.01px;
    width: 200px;
}
#statement-customer-id{
    -moz-appearance: none;
    background: #fff url("../images/ash-arrow.png") no-repeat scroll right 7px top 11px;
   border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
   padding: 3px 0 3px 10px;

    text-indent: 0.01px;
    width: 200px;
}
.mm-drop input {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
}
.mm-drop {
    display: inline-block;
    width: auto;
}

 .save-but{
   background: rgb(63,48,125);
background: -moz-linear-gradient(-45deg, rgb(63,48,125) 0%, rgb(195,5,167) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(63,48,125)), color-stop(100%, rgb(195,5,167)));
background: -webkit-linear-gradient(-45deg, rgb(63,48,125) 0%, rgb(195,5,167) 100%);
background: -o-linear-gradient(-45deg, rgb(63,48,125) 0%, rgb(195,5,167) 100%);
background: -ms-linear-gradient(-45deg, rgb(63,48,125) 0%, rgb(195,5,167) 100%);
background: linear-gradient(135deg, rgb(63,48,125) 0%, rgb(195,5,167) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f307d', endColorstr='#c305a7', GradientType=1 );
}
    
.modal-header{
    background: #2776c5 !important;
}
    

    
 /*PopUp*/
 .mymaid-popup-main-box { width: 100% !important; height: 100vh; position: fixed; left: 0; top: 0; z-index: 999; }
.popup-main { height: 100vh; text-align: center; background: rgba(0,0,0,0.5);}
.popup-main:before { height: 100%; display: inline-block; vertical-align: middle; content: '\200B';}
.centered-box { width: auto; display: inline-block; vertical-align: middle;}
.popup-main-box-cont { width: 100%; height: auto; background: #FFF; border-radius: 5px; overflow: hidden; padding: 20px; position: relative; }
.popup-clo-but { width: 14px; height: 14px; position: absolute; right: 20px; top: 20px; cursor: pointer; }
.book-left {}
.book-right { display: none;}
.book-right-detail { display: none;}


.text-field-main { width: 100%; font-size: 15px; text-align: left; color: #555; padding: 8px 0 10px;}
.text-field { width: 100%; height: 36px; font-size: 15px; color: #333; line-height: 30px; text-indent: 0.01px; padding: 0 15px; border-radius: 3px; border:1px solid #CCC; background: #fff;}
.text-field-name { line-height: 33px; color: #555;}
.text-field-name span { font-size: 15px; color: #555; float: right; padding-right: 15px;}

    
    .text-field { width: 100%; height: 32px; font-size: 13px; color: #333; line-height: 30px; text-indent: 0.01px; border:1px solid #ccc; background: #fff; padding: 0 15px; border-radius: 3px;}
    
    
    
    .permission-list ul{ list-style: none;margin: 0; padding: 0;}
    .permission-list li{ display: inline-block; width: 25%; float: left;}
    .permission-select-all {
        background: #4897e6;
    color: #fff;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 10px !important;
    }
    
   .permission-list .radio {padding-left: 0px;}
    
    .dash-rght-box{margin-top: 13px;margin-left: 23px;color: #fff;}
    .dash-rght-invce-box{margin-top: 3px;margin-left: 23px;color: #fff;}
    
    /*.rcnt-actvty-box{ height:342px;overflow:scroll;overflow-x:hidden;}*/
    .rcnt-actvty-box{ height:342px;overflow:hidden;overflow-x:hidden;}
    .rcnt-actvty-box:hover{ height:342px;overflow:scroll;overflow-x:hidden;}
    .dash-graph-box{ height:342px;}
    
    #chart_div{
        width: 98%;
        height: 200px;
    }
    .report-cont-graph {
        border: 2px solid #ececec;
        /*padding-right: 0;*/
    }
    /*Job page*/
    #exTab2 .add-complaint-job{
        font-size: 12px;
        height: 25px;
        margin: 5px;
        padding: 0;
        text-align: center;
        width: 25px;
        background-color: #4eb2d5;
        background-image: linear-gradient(rgba(78, 178, 213, 0), rgba(7, 23, 29, 0.1));
        border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
        color: white;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        line-height: 23px;
    }
    #exTab2 .edit-complaint-job{
        font-size: 12px;
        height: 25px;
        margin: 5px;
        padding: 0;
        text-align: center;
        width: 25px;
        background-color: #f5a732;
        background-image: linear-gradient(rgba(245, 167, 50, 0), rgba(38, 24, 2, 0.1));
        border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
        color: white;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        line-height: 22px;
    }
    #exTab2 .view-complaint-job{
        font-size: 12px;
        height: 25px;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 25px;
        background-color: #7eb216;
        background-image: linear-gradient(rgba(126, 178, 22, 0), rgba(0, 0, 0, 0.1));
        border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
        color: white;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        line-height: 22px;
    }
    .newjobbutton{
    font-size: 13px;
    padding: 4px 10px;
    	background: #7AC255;
    color: white;
    float:right;
    margin:10px;
    line-height: 18px;
    cursor:pointer;
	border-radius: 5px;
}
.newjobbutton:hover{
    background: #8793D6;
    color: white;
}
    /*Ends */
    
/*New Job*/
.job-field-wrapper{
    /*padding-top: 130px;*/
}

.text-field-main { width: 100%; padding-bottom: 15px;}
.text-field-main p { color: #555; font-size: 13px; line-height: 20px; padding: 0 0 5px; margin-bottom: 0px;}
.text-field { width: 100%; height: 36px; font-size: 13px; color: #333; line-height: 30px; border-radius: 3px; padding: 0 15px; text-indent: 0.01px; background: #fff; border: 1px solid #eae8e8; box-shadow: 0px 0px 0px;}
.text-field-but { width: 100%; font-family:'Conv_MyriadPro-Regular',Sans-Serif; font-size: 14px; color: #ffe700; font-weight: bold; line-height: 20px; letter-spacing: 0.3px; padding: 12px 0px 7px; text-align: center; text-transform: uppercase; background: #0054a6; border: 0 none; cursor: pointer; display: block; border-radius: 25px;}
.text-field-but:hover { background: #ffe700; color: #0054a6;}
.text-field-main select { width: 100%; height: 36px; font-size: 14px; line-height: 30px; border-radius: 3px; text-indent: 0.01px; padding: 3px 10px; -moz-appearance: none; cursor: pointer; background: #fff url("../images/ash-arrow.png") no-repeat scroll right 13px top 14px;  border: 1px solid #eae8e8;}
.text-field-main select option {
    border: 0 none;
    padding: 5px 15px;
}

.job-field-main { border: 1px solid #e6e4e4; background: #fafafa; padding-top: 30px;}



.time-box { width: 100%; height: 45px; font-size: 14px !important; color: #555; line-height: 30px; text-indent: 0.01px; border: 0 none;  padding: 0px 0px; overflow: hidden; }
.totime { background: url(../images/to.png) no-repeat left top / contain #FFF !important; border-radius: 0px;}
.fromtime { background: url(../images/from.png) no-repeat left top / contain #FFF !important; border-radius: 0px;}

.center-opt select { /*text-align: center !important; text-align-last: center !important;*/ }
.center-opt option { text-align: left;}

.time-box select.totime { padding-right: 0px;  /*text-align: center;*/ padding-left: 25px;}
.time-box select.fromtime { padding-right: 0px; /*text-align: center;*/ padding-left: 25px;}


.border-radius-0 { border-radius: 0px !important;}
.border-radius-3 { border-radius: 3px !important;}
.border-radius-5 { border-radius: 5px !important;}


.job-field-main input[type="checkbox"], .n-days input[type="checkbox"], .n-end input[type="checkbox"], .n-radi-check-main input[type="checkbox"] { display: none;}
label { cursor: pointer;}
input[type="checkbox"] + label span {width: 25px; height: 25px; border: 1px solid #d2d0d0; vertical-align: middle;  border-radius: 50%;  display: block; background: url(../images/tick-b.webp) no-repeat center center / 12px #FFF; user-select: none;}
input[type="checkbox"]:checked + label span { background: url(../images/tick-w.webp) no-repeat center center / 12px #70B84B; border: 1px solid #70B84B;}
input[type="checkbox"] + label:hover  span{ border: 1px solid #70B84B; }
input[type="checkbox"][disabled] + label span {width: 25px; height: 25px; border: 1px solid #d2d0d0; vertical-align: middle;  border-radius: 50%;  display: block; background: url(../images/el-lock.png) no-repeat center center / 12px #FFF; user-select: none; cursor: auto;}


.n-field-day { margin-top: 3px; margin-bottom: 15px;}
.n-end-main {}

.job-field-main input[type="radio"], .n-days input[type="radio"], .n-end input[type="radio"], .n-radi-check-main input[type="radio"]{ display: none;}
input[type="radio"] + label span {width: 25px; height: 25px; border: 1px solid #d2d0d0; vertical-align: middle;  border-radius: 50%;  display: block; background: url(../images/tick-b.webp) no-repeat center center / 12px #FFF; user-select: none; margin-bottom: -5px;}
input[type="radio"]:checked + label span { background: url(../images/tick-w.webp) no-repeat center center / 12px #70B84B; border: 1px solid #70B84B;}
input[type="radio"] + label:hover  span{ border: 1px solid #70B84B; }


.n-days { width: 26px; float: left; text-align: center; padding-right: 15.45555555%;}
.n-days label { font-size: 12px; text-transform: uppercase;}
/*.n-days label p { text-align: center !important;}*/

.n-end { display: inline-block;}
.n-end-field { width: 76%; display: inline-block;}
.n-end-field input { width: 100% !important;}


.week-type-box { padding: 0px 0px 21px 0px;}
.week-type-box p { margin: 0 0 9px;}
.newjobbox{height: 85px;
}


.n-pick-maid-c-main { padding-bottom: 5px !important;
display: block !important;
padding-top: 5px !important;
border-bottom: 1px solid #eee;
flex-direction: column; justify-content: center !important; }


.n-pick-maid-right { padding-top: 0.7%; text-align:right;}

.n-close-btn { width: 20px; height: 20px; background: url(../images/n-pup_close.png) no-repeat center center / 12px #ff7f7f; border-radius: 50%; }
.n-close-btn:hover { background-color: #F00;}


.n-delete-set-right-cont { display: none;}
.n-delete-set-left-cont, .n-delete-set-right-cont { width: 100% !important;}




/*Ends*/

/*New booking Form */
#customer-address-panel-user { border:1px solid #CCC; width: 472px; min-height: 307px; background: #FFF; position: absolute; z-index: 20; border-radius: 5px; margin: 0px; box-shadow: 2px 2px 2px #CCC; display: none; }
#customer-address-panel-user .head { border-top-left-radius: 5px;  border-top--radius: 5px; background: #EFEFEF; font-size: 12px; padding: 8px;font-weight: bold; }
#customer-address-panel-user .close { float:right; display: block; font-weight: normal; color:#F60; cursor:pointer; font-size: 12px; opacity: 1; }
#customer-address-panel-user .close:hover { text-decoration: underline; }
#customer-address-panel-user .inner { padding:20px; font-size: 12px; }
#customer-address-panel-user .inner .table { display:table; font-size: 12px;border-top: 1px solid #EFEFEF; }
#customer-address-panel-user .inner .table .row { display:table-row; }
#customer-address-panel-user .inner .table .row .cell1 { display:table-cell; width: 300px; line-height: 18px; padding:8px; border-bottom: 1px solid #EFEFEF; }
#customer-address-panel-user .inner .table .row .cell2 { display:table-cell; width: 140px; padding:8px; vertical-align: middle;border-bottom: 1px solid #EFEFEF; }
#customer-address-panel-user .pick_customer_address_user { border:1px solid #1c94c4; cursor: pointer; background: #1c94c4; color:#FFF; border-radius: 3px; padding: 1px 15px 1px 5px; font-size:12px; line-height: normal; }

#user-repeat-days, #user-repeat-ends { display: none; }
#user-repeat-days label { margin-right:4px; }
#user-repeat-ends input[type=radio] { margin:0px; vertical-align: top; }
/*Ends*/
    
/*-------------------: INVOICE :----------------------*/


.invoice-field-wrapper{padding-top: 130px;}
.invoice-box-main { margin-bottom: 50px; }
.invoice-box-main p { font-size: 13px !important;}
.invoice-box-right { border: 1px solid #e6e4e4; background: #fdfdfd;}
.invoice-box-left { border: 1px solid #e6e4e4; background: #fdfdfd;}
.invoice-logo-box { padding: 30px 0px 10px;}
.invoice-logo { width: 150px;}
.invoice-address-box  {}
.invoice-address p { font-size: 13px; line-height: 20px; text-align: left;}
.invoice-date {}
.invoice-to-address { padding: 20px 0px 0px; border-top: 1px dashed #CCC; margin-top: 20px;}
.invoice-to-address p span { padding-left: 15px; display: block; padding-top: 10px;}
.invoice-job-det { padding: 20px 0px; border-top: 1px dashed #CCC; margin-top: 20px;}
.invoice-job-det p span { padding-left: 15px; display: block; padding-top: 10px;}
.total-text {}
.light-green { background: #cbffd6;}
.invoice-det-table .Cell { padding: 10px 5px 10px 13px;}
.total-box { padding-top: 15px !important; padding-bottom: 15px !important;}
.invoice-det-note { padding: 30px 0px 0px 0px;}
.text-field-big { width: 100%; height: 75px; background: #fff; border: 1px solid #dad8d8; color: #444; font-size: 13px; line-height: 21px; padding: 8px 15px 15px; text-indent: 0.01px; margin-top: 13px; box-shadow: 0px 0px 0px #FFF;}
.invoice-button-main { padding-top: 30px;}
.invoice-button { padding-bottom: 30px;}
.invoice-button .text-field-but { display: inline-block; width: 100%; padding: 7px 0px; letter-spacing: 0px;}
.invoice-button .text-field-but.dark { background: #CCC; color: #555; }
.invoice-button .text-field-but.dark:hover { background: #ffe700; color: #0054a6;}
.invoice-left-address { padding: 20px 0px;}
.invoice-left-schedule { padding: 0px 0px;}
.invoice-left-schedule { padding: 20px 0px; border-top: 1px dashed #CCC; margin-top: 20px;}
.invoice-left-schedule p span { padding-left: 15px; display: block; padding-top: 10px;}
    


.box-fixed-top { width:100%; position: fixed !important; top: 0; left: 0px; z-index: 8009; background: #FFF; padding: 93px 0 0; }
.booking-position { width: 50px; height: 50px; position: absolute; left:0; top: -92px; z-index:-99999999999;}
.book-mid-det-top-padi { padding-top: 35px; }


.confi-det-cont-det .det-price {
    color: #f20;
    font-size: 20px;
    line-height: 20px;
}
.file-field-ara {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 34px;
    position: relative;
    width: 100%;
}
input[type="file"] {
    height: 34px;
    opacity: 0;
    width: 100%;
}
#val {
    font-size: 13px;
    height: 34px;
    left: 0;
    line-height: 32px;
    pointer-events: none;
    position: absolute;
    text-indent: 10px;
    top: 0;
    width: 100%;
}
#button_file {
    
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 32px;
    margin-right: -1px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -1px;
    transition: all 500ms ease 0s;
    width: 200px;
	
	background: #7AC255;
}
#button_file:hover {
    background: #8793D6;
}

.borderbox { border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6; border-right: 1px solid #d6d6d6; padding: 20px 0px;}


.success-listing {}
.success-listing ul { margin: 0px; padding: 0px; list-style: none;}
.success-listing li { font-size: 13px; color: #555; padding: 10px; border-radius: 3px; background: #f5f5f5; margin: 0px 15px 10px 15px;}
.success-listing li lable .fa-check-circle { float: right; color: #3ab54a; font-size: 20px;}
.success-listing li lable .fa-times-circle { float: right; color: #F00; font-size: 20px;}
#customer-detail-popup .text-field-main { font-size: 13px;}
#customer-add-popup .text-field-main { font-size: 13px;}

.new-booking-box-main {}
.new-booking-box-main .text-field-main { font-size: 13px;}
.new-booking-box-main .text-field-name{}
.new-booking-box-main .text-field-det{}

.text-field-det .in-bookingform-field-droop-main {
    float: none;
    margin-right: 0px;
    overflow: hidden;
    width: 100%;
}
.text-field-det .in-bookingform-field-droop-main .sel2 { width: 100%;}
.text-field-det .in-bookingform-field-droop-main .sel3 { width: 100%;}
.text-field-det .popup-disc-fld, .text-field-det input, .text-field-det textarea, .text-field-det select, .text-field-det .uneditable-input { width: 100%;}
.text-field-det .in-bookingform-field {width: 100%; height: auto; line-height: 28px;}

.log-remb label { cursor: pointer;}
.log-remb input[type="checkbox"] { display: none;}





.n-graph-set { margin-top: 20px;}
.n-graph-set .n-cont-main-box { padding-top: 10px !important;}
.n-graph-set h3 { padding-bottom: 10px;}

.graphiq {
  width: 100%;
  position: relative;
  display: flex;
}
.graphiq__graph-layout {
  flex: 1;
  overflow-x: hidden;
}
.graphiq__graph-values {
  font-size: 0.75em;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1.25em;
  text-align: right;
  font-weight: bold;
}
.graphiq__line {
  fill: none;
  stroke-miterlimit: 10;
}
.graphiq__graph-key {
  display: flex;
  justify-content: space-between;
}
.graphiq__graph-key .key {
  font-size: 0.75em;
  text-align: center;
  display: block;
}
.graphiq__y-division {
  fill: none;
  stroke-miterlimit: 10;
  z-index: -1;
  transition: 0.25s ease-in;
}
.graphiq__graph-dot {
  transition: stroke-width ease-in-out 0.2s;
  transform-origin: 50% 50%;
}
.graphiq__value-dialog {
  display: block;
  position: absolute;
  background: transparent;
  font-size: 0.75em;
  line-height: 0;
  padding: 0.66em 0.33em;
  font-weight: bold;
  -webkit-animation: float 0.3s ease-out forwards;
          animation: float 0.3s ease-out forwards;
}

@-webkit-keyframes float {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY();
  }
}

@keyframes float {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY();
  }
}


.slot { position: relative;}

.slot.casualleave .leave{ background:#fcfcfc;}
.slot.absent .leave{ background:#FF5349;}
.slot.dayoff .leave{ background:#fff7f7;}
.slot.offset .leave{ background:#FFFF66;}
.slot.sickleave .leave{ background:#9FE2BF;}
.slot.m_replacement .leave{ background:#e3bfbf;}
								
.leave { position: absolute;width: 100%; height: 100%; z-index: 1; font-size: 20px; text-align: center; cursor: not-allowed; flex-direction: column;justify-content: center !important; display: flex !important; text-transform: uppercase; font-weight: bold; color: #777;}



.badge { padding: 10px 9px !important; border-radius: 3px !important; margin: 5px 0px !important;}


.n-booking-set-main { background: #FFF; padding: 20px 5px 20px !important;}

.n-booking-set-main .colour-box { padding-bottom: 20px;}

.cm-sale-con-graph { width: 130px; height: 130px; border-radius: 50%; margin: 10px auto 15px; text-align:center; border: 3px dotted #FFF; }
.cm-sale-con-graph img { width: 100%; padding: 10px;  border-radius: 50%;}

.n-payment-icon {flex-direction: column; justify-content: center !important; display: flex !important;}



.text-white{color:#FFF !important}
.text-black{color:#555 !important}
.text-ash{ color: #999 !important;}
.text-green{color:#32b16e !important}
.text-blue{color:#0072bb !important}
.text-yellow{color:#f7941d !important}
.text-light-green{color:#42c17e !important}
.text-red { color: #da1f27 !important;}
.text-violet { color: #7d1771 !important;}
.text-orange { color: #e94c26 !important;}

.n-box-summary-left .n-icon { width: 60%; padding-top: 5px; opacity: 0.8;}

.dash-suppurate-box { width: 95%; border-bottom: 2px dotted #FFA0A0; margin: 10px auto 25px; user-select: none;}

.same-height-box { 
  /*display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;*/
  
  /*display: grid;
  grid-auto-flow: column;*/
}

.strong { font-weight: bold;}

  .n-box-summary-main { border-radius: 10px; overflow: hidden; padding: 0px !important;}
  
  .n-box-summary-left {background: #FFF; padding: 50px 20px;}
  
  .n-box-summary-right {  flex-direction: column; justify-content: center !important; display: flex !important;}


.colour-box-main h2 { font-size: 24px; line-height: 36px; margin-bottom: 10px;}

.n-bot-box-main h2 { font-size: 17px;
line-height: 20px; color: #FFF;
padding: 8px 0px 8px 20px;
background: #3B5E6C; margin-bottom: 0px;}

 
.n-bot-box-main { height: 100%; background: #FFF; border-radius: 10px; overflow: hidden; border: 1px solid #eee;}


.colour-box-main a:hover { text-decoration: none;}

#chart-3 { width: 100% !important; height: 80% !important; position: relative; text-align: center; margin: 0 auto !important;}

#graphField0chart-3, #graphField1chart-3, #graphField2chart-3 { margin-left: 55px !important;}


#graphField0chart-3 div, #graphField1chart-3 div, #graphField2chart-3 div {
	-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}



#legendHolder2chart-3 { width: 100% !important; position: absolute; bottom: -33px; text-align: center !important;}
#legendHolder2chart-3 div { font-size: 12px; display: inline-block; padding: 0px 5px;}


.search-wrapper ul.header-top { list-style: none; padding: 0px; margin: 0px; text-align: right;}

.search-wrapper ul.header-top li { width: auto !important; padding: 4px 0px 0px 0px !important; display: inline-block; margin: 0px !important;}

.logo { float: none;}

.search-wrapper ul.header-top li:first-child { float: left; padding-top: 0px !important;}

.widget-header span {
  color: #FFF;
}

.n-btn { font-family: Arial, Helvetica, sans-serif !important; font-size: 12px !important; line-height: 18px !important; color: #FFF !important; font-weight: bold !important; background: #7AC255 !important; border:0px !important; text-transform: uppercase !important;
padding: 7px 20px !important; border-radius: 3px !important;}
.n-btn:hover { color: #FFF; background: #8793D6 !important;}

.n-delete-section-main .n-btn { cursor: default !important;}
.n-delete-section-main .n-btn.de-select { background: #CCC !important; cursor: pointer !important;}
.n-delete-section-main .n-btn.de-select:hover { background: #ff7f7f !important;}
.n-delete-set-left {}
.n-delete-set-right {}

.n-delete-section-main .n-btn { width: 100%;}

.n-delete-section-main textarea { width: 100%; height: 80px; margin-bottom: 15px; margin-top: 5px;}



.owl-carousel .owl-item { float: left; padding: 0px 10px;}

/*#owl-demo .owl-wrapper { left: 8px !important;}*/

.light-blue-bg { background: #f5fafe;}
.light-green-bg { background: #cffed4;}
.light-yellow-bg { background: #fff7ea;}
.light-red-bg { background: #fff0f1;}

.med-blue-bg { background: #e9f4ff;}
.med-green-bg { background: #e6f6e8;}
.med-yellow-bg { background: #ffefd2;}
.med-red-bg { background: #ffdede;}
.med-pink-bg { background: #fbccdb;}

.green-bg { background: #8ed996;}
.blue-bg { background: #9acefd;}
.yellow-bg { background: #ffb434;}
.red-bg { background: #fd6b6b;}
.red-pink { background: #ed145b;}

.border-0 { border: 0px !important;}


.n-plan-completed { }
.plan-thumb-main { background: #FFF; margin-bottom: 20px; border-radius: 5px; box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);overflow: hidden; padding: 5px !important;}
.plan-thumb-cont-set {border-bottom: 1px solid #eee; }
.plan-thumb-text { border-right: 1px solid #eee; padding: 10px 0px !important;}
.plan-thumb-text p {font-size: 13px; color: #555; line-height: 18px; padding-left: 10px; font-weight: bold;}
.plan-thumb-text span{ font-size: 11px; display: block; font-weight: normal;}
.plan-thumb-text label{ font-size: 11px; display: inline-block; font-weight: bold; margin-bottom: 0px;}
.plan-thumb-text > p label:nth-child(3){ font-size: 14px;}

.plan-thumb-number p { font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold;}
.plan-thumb-number p span {float: right;margin-right: 10px; color: #FFF; padding: 1px 7px;border-radius: 3px;}
.plan-thumb-completed {}

.plan-thumb-amount {}
.plan-thumb-collected {}
.plan-thumb-pending {}

.border-bottom-0 { border-bottom: 0 !important;}
.border-right-0 { border-right: 0 !important;}
.text-center { text-align: center !important;}


.customNavigation{ text-align: center; }
.customNavigation a{ -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }


.owl-buttons { width: 68px; position: absolute; right: 5px; top: 3px; z-index: 0;}

.owl-buttons div { width: 28px; height: 28px; border-radius: 50%; cursor: pointer; user-select: none;}
.owl-prev {background: url(../images/arrow-left-b.webp) no-repeat center right 8px / 15px #fff; float: left;}
.owl-prev:hover {background: url(../images/arrow-left-w.webp) no-repeat center right 8px / 15px #8793D6;}
.owl-next {background: url(../images/arrow-right-b.webp) no-repeat center left 8px / 15px #fff; float: right;}
.owl-next:hover {background: url(../images/arrow-right-w.webp) no-repeat center left 8px / 15px #8793D6;}


/*.owl-prev { background: url(../images/left-arrow-ash.png) no-repeat left top;  float: left;}
.owl-prev:hover { background: url(../images/left-arrow-ash-hover.png) no-repeat left top; }
.owl-next { background: url(../images/right-arrow-ash.png) no-repeat left top; float: left;}
.owl-next:hover { background: url(../images/right-arrow-ash-hover.png) no-repeat left top;}
.owl-prev, .owl-next { width: 32px; height: 32px; text-align: center;}*/


.item { margin: 50px 5px 20px; height: 75vh; overflow-x: hidden; overflow-y: scroll; }

.item h2 { width: 100.5%; margin: 0px 5px 10px 0; background: #3B5E6C; padding: 0px 20px; color: #FFF; user-select: none; position: fixed; top: 0px; left: 0px; z-index: 999}

.item:hover h2 { background: #7AC255;}








.plan-thumb-status-box.n-plan-completed a span {
  font-size: 11px;
  display: inline-block;
  font-weight: normal; margin-right: 10px;
}

.plan-thumb-status-box.n-plan-completed a label {
  font-size: 11px;
  display: inline-block;
  font-weight: normal; top: -9px;
position: relative;
}


.plan-thumb-status-box.n-plan-completed a{ position: relative; display: block; bottom: -3px;}

.modal-body .btn { padding: 5px 15px;}
.modal-footer { padding: 0px;}






.blue-btn, .blue-btn a { color: #fff !important; background: #47BADF !important;}
.blue-btn:hover, .blue-btn:hover a { color: #FFF !important; background: #319FCE !important; text-decoration: none !important;}

.green-btn, .green-btn a { color: #fff !important; background: #7AC255 !important;}
.green-btn:hover, .green-btn:hover a { color: #FFF !important; background: #5AA93B !important; text-decoration: none !important;}

.pink-btn, .pink-btn a { color: #fff !important; background: #F63A56 !important;}
.pink-btn:hover, .pink-btn:hover a { color: #FFF !important; background: #F05767 !important; text-decoration: none !important;}

.purple-btn, .purple-btn a { color: #FFF !important; background: #8793D6 !important;}
.purple-btn:hover, .purple-btn:hover a { color: #fff !important; background: #6773C3 !important; text-decoration: none !important;}

.red-btn, .red-btn a { color: #FFF !important; background: #F63A56 !important;}
.red-btn:hover, .red-btn:hover a { color: #fff !important; background: #EC273B !important; text-decoration: none !important;}

.orange-btn, .orange-btn a { color: #fff !important; background: #FFA154 !important;}
.orange-btn:hover, .orange-btn:hover a { color: #FFF !important; background: #FD8E41 !important; text-decoration: none !important;}






.zone-bottom-space { width: 100%; height: 100px;}
.n-time-section label { font-size: 10px !important; font-weight: normal;}
.topiconnew { cursor: pointer;}




/*-----------------: 2023 :------------------*/



.n-field-box input {
	width: 100% !important;
	height: 32px;
}
.n-booking-popup-wrapper {
}
#customer-info {
	width: 100%;
}
#customer-info .select2 {
	width: 100% !important;
}
.popup-note-fld, .pop-main-button {
	width: 100% !important;
}
.n-form-set-main {
	padding-top: 20px;
}
.n-field-main { /*background: #F00;*/
	padding-bottom: 15px;
}
.n-field-box { /*background: #0CF;*/
}
.n-field-main p {
	font-size: 12px;
	color: #333;
	line-height: 18px;
	padding-bottom: 3px;
}
.n-btn {
	margin-bottom: 20px;
	margin-top: 0px;
}
.n-field-box label {
	margin-bottom: 0px;
}
.popup-main-box .booking_form .row {
	display: block;
}
/*label input, label select {
	width: 100%;
	height: 32px;
}*/
.switch-main {
	user-select: none;
}
.switch {
	position: relative;
	display: inline-block;
	width: 34px;
	height: 19px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
	box-shadow: none !important;
}
.switch input:focus {
	box-shadow: none !important;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #dedede;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .1s;
	transition: .1s;
}
input:checked + .slider {
	background-color: #6cd038;
}
/*input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}*/

input:checked + .slider:before {
	-webkit-transform: translateX(14px);
	-ms-transform: translateX(14px);
	transform: translateX(14px);
}
/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
.n-left-position {
	height: 100%;
	font-size: 11px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 9;
	background: #BFEBFF;
	flex-direction: column;
	justify-content: center !important;
	display: flex !important;
	padding: 0px 5px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border: 1px solid #3CC;
}
.n-right-position {
	height: 100%;
	font-size: 11px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 9;
	background: #BFEBFF;
	flex-direction: column;
	justify-content: center !important;
	display: flex !important;
	padding: 0px 5px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border: 1px solid #3CC;
}
.position-relative {
	position: relative;
}
.n-popup-btn-main input {
	width: auto !important;
}
.n-details-box-section p {
	color: #888;
	padding-bottom: 2px;
}
.n-details-box-section .n-field-box {
	font-weight: 600;
	font-family: Arial, Helvetica, sans-serif;
}
.driver-note textarea {
	font-size: 15px;
	line-height: 20px;
	color: #333;
}
.n-pick-maids-set label {
	display: inline-block;
	width: 200px;
}
.n-pick-maids-set label p { 
font-size: 14px;
padding: 0px 0px 0px 8px;}

.n-pick-maids-set span {
	display: inline-block !important;
}
.n-pick-maids-set p {
	display: inline-block !important;
	bottom: -4px;
	position: relative;
	padding-left: 5px;
}

.n-field-box select {  width: 100%;}
.n-field-box textarea {  width: 100%; height: 70px;}
.float-right { float: right !important;}

.n-btn-sml { font-family: Arial, Helvetica, sans-serif; font-size: 11px !important; line-height: 12px; font-weight: normal !important; padding: 5px 10px !important; text-decoration: none !important; cursor: pointer; border-radius: 3px; }



.n-btn-icon { width: 28px; height: 28px; font-size: 11px !important; line-height: 12px; text-align: center; font-weight: normal !important; padding: 0px !important; text-decoration: none !important; cursor: pointer; border-radius: 50px; flex-direction: column; justify-content: center !important; display: inline-flex !important; margin: 0px 1px;}











.badge-success {
  background-color: #7AC255 !important;
}

.badge-info {
  background-color: #8793D6 !important;
}

.badge-warning {
  background-color: #ff7f7f !important;
}


.badge-success:hover, .badge-info:hover, .badge-warning:hover  { background: #555 !important;} 

.bg-white { background: #FFF !important;}




.common-popup-wrapper { width: 100% !important; position: fixed; left: 0px; top: 0px; z-index: 999999999999999; background: rgba( 0, 0, 0, 0.4); display: none;}
.common-popup-section { height: 100vh; justify-content:center !important;flex-direction: column; user-select: none; overflow-x:hidden; overflow-y: scroll;}
.common-popup-main { width: 500px; height:auto; background: #FFF;  border-radius: 10px; position: relative; margin: 0 auto;  user-select: none; overflow: hidden; padding: 0px;}

.d-flex { display: flex;}

.cm-field-content-main { max-height: 80vh; padding: 20px 30px 25px; overflow-x: hidden; overflow-y: scroll;}
.common-popup-title { width: 100%; background: #3B5E6C; color: #FFF; padding: 10px 30px 10px 30px;}
.common-popup-title h5 { color: #FFF; margin-bottom: 0px; font-size: 18px; font-weight: bold;}

.common-popup-wrapper .close-btn { width: 28px; height: 28px; position: absolute; right: 10px; top: 6px; z-index:999; border-radius: 50%; background: #ff7f7f; text-align: center; display:flex; justify-content: center; flex-direction:column; cursor: pointer;}
.common-popup-wrapper .close-btn img { width: 11px; height: 11px; margin: 0 auto;}
.common-popup-wrapper .close-btn:hover { background: #F00;}

.n-radi-check-main { user-select: none;}
.n-radi-check-main label span { display: inline-block !important;}
.n-radi-check-main label p { display: inline-block; font-size: 14px; color: #555; line-height: 20px; position: relative; bottom: -3px; padding-left: 5px;}

.fancybox-skin { border-radius: 10px !important;}

.modal-footer { text-align: left !important;}

.n-notify-icon { position: relative; margin-right: 20px;}
.n-notify-icon span { min-width: 20px; font-size: 10px; color: #fff; line-height: 10px; font-family:Arial, Helvetica, sans-serif; text-align: center; position: absolute; top: -2px; right: -15px; border-radius: 10px; background: #ff6b6b; padding: 3px 4px 1px; box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5); border: 1px solid #FFF;}


.n-calendar-icon { background: url(../images/calendar-blue.webp) no-repeat left 5px center / 20px #FFF; padding-left: 34px;}


#customer-address-panel .head { user-select: none;}

#customer-picked-address .action #chg-cust-address {

  cursor: pointer;
  background: #1c94c4;
  color: #FFF;
  border-radius: 3px;
  padding: 3px 10px 5px;
  font-size: 12px;
  line-height: normal;
}



.accordion-container {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}
.accordion-container .accordion-title {
  position: relative;
  margin: 0;
  padding: 6px 18px;
  background: #f0f0f0;
  font-size: 17px; line-height: 28px;
  font-weight: normal;
  color: #555;
  cursor: pointer; margin-top: 15px; border:1px solid #CCC; border-radius: 5px;box-shadow: 5px 3px 5px 0 rgba(0,0,0,0.05);
}

.accordion-container .accordion-title:hover { background: #bbb; color: #FFF; border-radius: 5px;  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.0);}

.accordion-content p { font-size: 15px; line-height: 30px;}
.accordion-container .accordion-title:active,
.accordion-title.open, .accordion-title.open:hover {
  background: #999; color: #FFF; border-radius: 0px !important; box-shadow: 0 0px 0px 0 rgba(0,0,0,0.0);
}


.accordion-container .accordion-title::before {
  /*content: "";*/
  position: absolute;
  top: 50%;
  right: 25px;
  width: 15px;
  height: 2px;
  transform: rotate(90deg);
  background: #555;
  transition: all .3s ease-in-out;
}
.accordion-container .accordion-title::after {
  /*content: "";*/
  position: absolute;
  top: 50%;
  right: 25px;
  width: 15px;
  height: 2px;
  background: #555;
  transition: all .2s ease-in-out;
}
.accordion-container .accordion-title.open::before {
  transform: rotate(180deg);
}
.accordion-container .accordion-title.open::after {
  opacity: 0;
}
.accordion-content {
  padding: 0px;
}
.accordion-content { display: none; background: #FFF;}


.badge-error {
  background-color: #F00 !important;
}

.badge-secondary {
  background-color: #8793D6 !important;
}

.cell .fa.fa-clipboard { top: 28px;}

.n-field-box.n-color-field { border: 1px solid #000;   border-radius: 50px;
  overflow: hidden;
  width: 50px !important;
  height: 50px !important;
}

.n-field-box.n-color-field input { padding: 0px; border:0px;
width: 80px !important;
height: 80px;
cursor: pointer;
position: relative;
left: -10px;
top: -10px;

}

.n-days.n-tools { width: 100%; padding-right: 0;}
.n-days.n-tools label span { float: left;}
.n-days.n-tools label { margin-bottom: 10px;}
.n-days.n-tools label p { float: left; padding-top: 2px !important; padding-left: 10px !important; }

/* .toggleconfirm .fa.fa-circle { top:8px; font-size: 16px;} */
ul.n-icon-section { min-width: max-content; list-style: none; margin: 0px; position: absolute; left:2px; bottom: 1px; z-index: 9; padding: 0 4px; -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;}
  
.n-icon-section li { display: inline-block; margin-left: 5px;}
.n-icon-section li:first-child { margin-left: 0px;}
.n-icon-box { width: 18px; height: 20px; text-align: center; cursor: pointer; border-radius: 3px; padding-top: 3px;}
.n-icon-box i { font-size: 10px; line-height: 13px; color: #FFF; display: block;}
.n-icon-box:hover { background: #555;}









@media all and (max-width: 1400px) and (min-width: 1201px) {
.backtotop { position: fixed; right: 0%;}


}
@media all and (max-width: 1300px) and (min-width: 1201px) {

.owl-carousel .owl-item {
  padding: 0px 5px;
}

}
@media all and (max-width: 1200px) and (min-width: 992px) {

    .view-only-1024 { display: block}
    .hide-only-1024 { display: none;}

}
@media all and (max-width: 1024px) and (min-width: 1024px) {

    .backtotop { width: 60px; position: relative; margin: 0 auto; padding-bottom: 0px; right: 0px;}
	
}
@media all and (max-width: 1300px) and (min-width: 320px)  {

#primary_nav_wrap li a {padding: 10px 15px;}

}
@media all and (max-width: 1200px) and (min-width: 320px)  {

    
	
    /*
	
	#primary_nav_wrap{  height: 100vh;}
    .admin-drp-main #primary_nav_wrap { height: auto;}
    #primary_nav_wrap ul { width: 100%; list-style:none; text-align: left; position:relative; margin:0; padding:0; float: right; }
    #primary_nav_wrap li { width: 100%; float: none; margin-left: 0px; text-align: center;border-top: 1px solid #1968b7;  border-bottom: 1px solid #3584d3;display: table;}
    #primary_nav_wrap li a { display:block; font-family:'Conv_PTS55F',Sans-Serif; font-size: 17px; color: #FFF; line-height: 21px; padding: 15px 25px; text-decoration: none; }
    #primary_nav_wrap li a:hover { color: #555; background: #ffe700;}
    #primary_nav_wrap ul li:hover > ul { display:block;}
    #primary_nav_wrap ul ul { width: 100%; display:none; position: relative; padding:0;}
    #primary_nav_wrap ul ul li {width: 100%; text-align: center; }
    #primary_nav_wrap ul ul li a { font-size: 14px; border: 0px; padding-left: 20px; background: #2776c5; color: #FFF; padding: 15px 25px;}
    #primary_nav_wrap ul ul li a:hover { color: #FFF; background: #4897e6 ;}
    #primary_nav_wrap ul li ul li:first-child { }
    #primary_nav_wrap ul li ul li:last-child { border-top: 0px solid #131c1b; }
	#primary_nav_wrap{ width: 104% !important; margin-top: 0px; height: 87vh; overflow-x: hidden; overflow-y: scroll;}
	
	*/
	
	#primary_nav_wrap li a {padding: 10px 15px;}
	
	
    .top-get-quote-but { border: 0 none !important;  padding-top: 30px !important;}
    .top-get-quote-but a {margin: 0 10% 30px;}
    .dash-top-wrapper { padding-top: 110px;}

    
    .admin-drp-main {float: none; width: 100%;}
    .admin-drp-main #primary_nav_wrap { height: auto; overflow: visible; }
    .admin-drp-main  #primary_nav_wrap ul { } 
    .admin-drp-main  #primary_nav_wrap li { display: table; float: left; margin-left: 0; text-align: center; border: 0px; width: 45%; position: relative; }
    .admin-drp-main  #primary_nav_wrap li a {}
    .admin-drp-main  #primary_nav_wrap ul ul { position: absolute; left: 0px; bottom: 0px; width: 100%;} 
    .admin-drp-main  #primary_nav_wrap ul ul li { width: 100%;}
    .admin-drp-main  #primary_nav_wrap ul ul li a { padding: 4px 20px 5px;}

}
@media all and (max-width: 991px) and (min-width: 320px) {
	
	
	.pc-menu-view-only{display:none !important;}
    .mob-menu-view-only{display:block !important;}
	
    .mob-menu-icon { width: 50px; display: block; float: right; -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; transition: all 0.6s ease 0s; cursor: pointer; }
    .mob-menu-icon img { width: 100%; background: #644D84;}
    .menu { width: 100% !important;overflow: hidden;  display: none;}
	
	

    .pc-view-only{display:none !important;}
    .mob-view-only{display:block !important;}
    .mob-menu-icon { display: block;}
    .mob-menu-icon { width: 50px; display: block; float: right; -moz-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; transition: all 0.6s ease 0s; cursor: pointer; }
    /*------: Invoice :-------*/
    .invoice-box-left-main { margin-top: 30px;}
    .invoice-date.no-left-right-padding div.col-md-6.col-sm-12.no-left-padding, .invoice-date.no-left-right-padding div.col-md-6.col-sm-12.no-right-padding { padding-left: 0px !important; padding-right: 0px !important;}
}
@media all and (max-width: 991px) and (min-width: 737px) {
    .view-only-600 { display: block;}
    .hide-only-600 { display: none;}
    header .logo { width: 200px;}
}
@media all and (max-width: 736px) and (min-width: 415px) {

    .view-only-415 { display: block;}
    .hide-only-415 { display: none;}
    #primary_nav_wrap{ width: 104% !important; margin-top: 0px; height: 87vh; overflow-x: hidden; overflow-y: scroll;}
    .admin-drp-main {float: none; width: 100%;}
    .admin-drp-main #primary_nav_wrap { height: auto; overflow: visible; }
    .admin-drp-main  #primary_nav_wrap ul { } 
    .admin-drp-main  #primary_nav_wrap li { display: table; float: left; margin-left: 0; text-align: center; border: 0px; width: 50%; position: relative; }
    .admin-drp-main  #primary_nav_wrap li a {}
    .admin-drp-main  #primary_nav_wrap ul ul { position: absolute; left: 0px; bottom: 0px; width: 100%;}  
    .admin-drp-main  #primary_nav_wrap ul ul li { width: 100%;}
    
    .col-md-3.col-sm-6.invoice-button.no-left-padding, .col-md-3.col-sm-6.invoice-button.no-right-padding, .col-md-6.col-sm-6.invoice-button.no-left-padding { padding-left: 0px !important; padding-right: 0px !important;}


}
@media all and (max-width: 600px) and (min-width: 600px) {


}
@media all and (max-width: 414px) and (min-width: 320px) {

    .view-only-320 { display: block }
    .hide-only-320 { display: none;}
    header .logo { margin-left: 30%; }
    .col-md-3.col-sm-6.invoice-button.no-left-padding, .col-md-3.col-sm-6.invoice-button.no-right-padding, .col-md-6.col-sm-6.invoice-button.no-left-padding { padding-left: 0px !important; padding-right: 0px !important;}
}

.cell.ui-selectee{
  cursor: crosshair;
}
.field-error.text-danger {
  color: #f00;
}

.n-tools{
  width: auto;
}
                                              
#days-off .n-days{
  padding-right: 13%;
}