/*------------------------------------------------------------------
Bootstrap Admin Template by EGrappler.com
------------------------------------------------------------------*/




/** Base Body Styles **/
body{  color:#838383; font: 13px/1.7em 'Open Sans';}

.account-container {display: block; padding: 12% 0 0 0;}
.login-n-wrapper .footer {border: 0px; background:  #FFF;}

.login-n-wrapper .footer-inner { padding: 8px 0;border: 0px solid #fff; font-size: 11px;}

.e-login-cont-main {width: 750px;background: url(../../images/login-bg.jpg) no-repeat left -320px top / cover; padding-left: 400px; overflow: hidden; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin:0 auto;}


.e-login-cont { background:  #FFF;}
.e-login-cont h1 { color: #555 !important;}
.login-logo { width: 200px; margin: 0 auto; padding: 0px 0px 20px 0px;}


.gradient  {background: rgb(58,44,112) !important;
background: -moz-linear-gradient(-45deg, rgb(58,44,112) 0%, rgb(106,0,91) 100%)!important;
background: -webkit-linear-gradient(-45deg, rgb(58,44,112) 0%,rgb(106,0,91) 100%)!important;
background: linear-gradient(135deg, rgb(58,44,112) 0%,rgb(106,0,91) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a2c70', endColorstr='#6a005b',GradientType=1 )!important;}


.login-n-wrapper { width: 100%; height: 100vh;}


.content {
	padding: 16px 28px 23px;
} 

.login-fields {
	
}

.login-fields .field {
	margin-bottom: 1.25em;
}

.login-fields label {
	display: none;
}

.login-fields input {
	font-family: 'Open Sans';
	font-size: 13px;
	color: #8e8d8d;
	padding: 0px 15px 0px 50px;
	background-color: #fdfdfd;
	width: 100%; height:  35px;
	display: block;
	margin: 0;
	box-shadow: inset 2px 2px 4px #f1f1f1;
}

.username-field { background: url(../../img/signin/user.png) no-repeat; }

.password-field { background: url(../../img/signin/password.png) no-repeat; }




.login-actions {
	float: left;
	
	width: 100%;
	
	margin-top: -1em;
	margin-bottom: 1.25em;
}

.login-social {
	float: left;
	
	padding: 10px 0 15px;
	
	border: 1px dotted #CCC;
	border-right: none;
	border-left: none;	
}

span.login-checkbox {
	/*float: left;*/
	margin-top: 20px; display: block;
}

span.login-checkbox > input[type='checkbox'] {
    opacity: 0;
    float: left;
    width: 15px;
}

span.login-checkbox > input[type='checkbox'] + label {    
    clear: none;
    
	height: 15px; 
	display: block;
    padding: 0 0 0 22px;
    margin: 0 0 20px 0 ;
    
    font-size: 12px;
    line-height: 1.2em;
    
    background: url(../../img/signin/check.png) no-repeat 0 0;
    
    cursor: pointer; color: #555 !important;
}

span.login-checkbox > input[type='checkbox']:checked + label {	
	background-position: 0 -15px;
}

/** Text Under Box**/
.login-extra {
	display: block; 
	width: 100%; 
	margin: 1.5em auto;
	 
	text-align: center;
	line-height: 19px; 
	
	text-shadow: 1px 1px 0px #fff; 	
}


.account-container h1 {
	/*margin-bottom: .4em;*/
        margin: 30px 0px 20px 0px;

	text-align: center;


}
.choice{
    color: #fff !important;
}
/** Buttons **/
.twitter, .fb {
	position: relative;
	
	height: 32px; 
	width: 157px; 
	display: block;
	
	background: url(../../img/signin/twitter_btn.png) no-repeat; 
	
}

.fb {
	width: 162px; 
	
	background: url(../../img/signin/fb_btn.png) no-repeat; 	
}

.twitter:active, .fb:active {
	top: 1px;
}

.twitter:hover, .fb:hover {
	background-position: 0 -32px;
}

.twitter a, .fb a {
	padding: 5px 0 0 35px; 
	text-shadow: -1px -1px 0px rgba(0,0,0,.3); 
	color:#fff; 
	font-weight: bold; 
	font-size: 11px; 
	height: 32px; 
	display: block;	
}

.fb a {
	padding: 5px 0 0 31px; 
	
}

.twitter, .fb {
	display: inline-block;
}

.twitter a:hover, .fb a:hover {
	color: #FFF;
	text-decoration: none;
}

.button {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display: inline-block; float: right; margin-top: 18px;}





.text-field-but { width: 100%; height: auto; font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #fff; line-height: 20px; letter-spacing: 0.3px; text-align: center; text-transform: uppercase; padding: 10px 15px; cursor: pointer; border: 0 none; display: block; border-radius: 3px; background: rgb(63,48,125);/* Old Browsers */
background: -moz-linear-gradient(-45deg, rgb(63,48,125) 0%, rgb(195,5,167) 100%); /* FF3.6+ */
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(63,48,125)), color-stop(100%, rgb(195,5,167)));/* Chrome, Safari4+ */
background: -webkit-linear-gradient(-45deg, rgb(63,48,125) 0%, rgb(195,5,167) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgb(63,48,125) 0%, rgb(195,5,167) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgb(63,48,125) 0%, rgb(195,5,167) 100%); /* IE 10+ */
background: linear-gradient(135deg, rgb(63,48,125) 0%, rgb(195,5,167) 100%);/* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f307d', endColorstr='#c305a7', GradientType=1 );/* IE6-9 fallback on horizontal gradient */}
.text-field-but:hover { color: #fff; background: #555;}



.register .login-social {
	margin-bottom: 1em;
}

.register .login-actions {
	margin-bottom: 0;
}

.register .login-fields input {
	width: 299px;
	padding-left: 6px;
}

.register h1 {
	color: #444;
}

.register span.login-checkbox {
	position: relative;
	top: -6px;
	
	width: 200px;
}

.register span.login-checkbox > input[type="checkbox"] + label {
	
	position: relative;
	
	line-height: 1.3em;
}


/*.e-login-pic { width: 200px; display: block; background: #F00; float: left;}*/

@media all and (max-width: 991px) and (min-width: 320px) {
.login-n-wrapper { min-height: 100vh; height: auto;}

}
@media all and (max-width: 991px) and (min-width: 415px) {

.e-login-cont-main { width: 400px; padding: 150px 0px 0px 0px; background-position: left 0px top 0px; background-size: 100%;}
.account-container h1 { margin-top: 0px;}

}


@media all and (max-width: 414px) and (min-width: 320px) {

.e-login-cont-main { width: 85%; padding: 100px 0px 0px 0px; background-position: left 0px top 0px; background-size: 100%;}
.account-container h1 { margin-top: 0px;}

.account-container { padding: 15% 0 0 0;}


}







@media (max-width: 480px) {
	
	/*.account-container {
		width: 280px;	
		margin-top: 35px;
	}
	
	.login-fields input {
		width: 160px;
	}*/
	
	.login-social {
		width: 100%;
	}
	
	.twitter {
		display: block;
		margin-bottom: 1em;
	}
	
	.register .login-fields input {
		width: 204px;
		padding-left: 6px;
	}
	
}